{
  "openapi": "3.0.0",
  "info": {
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "contact": {
      "email": "developers@cashfree.com",
      "name": "API Support",
      "url": "https://discord.com/invite/QdZkNSxXsB"
    },
    "title": "Cashfree Verification API's.",
    "version": "2023-12-18",
    "description": "Cashfree's Verification APIs provide different types of verification to our merchants."
  },
  "servers": [
    {
      "description": "Test Server",
      "url": "https://sandbox.cashfree.com/verification"
    },
    {
      "description": "Production Server",
      "url": "https://api.cashfree.com/verification"
    }
  ],
  "tags": [
    {
      "name": "Aadhaar",
      "description": "Operations related to Aadhaar verification."
    },
    {
      "name": "BAV V2",
      "description": "Operations related to Bank account verification v2."
    },
    {
      "name": "PAN",
      "description": "Operations related to PAN verification."
    },
    {
      "name": "Digilocker",
      "description": "Operations related to Digilocker verification."
    },
    {
      "name": "E-sign",
      "description": "Operations related to E-sign verification."
    },
    {
      "name": "Reverse Penny Drop",
      "description": "Operations related to Reverse Penny Drop verification."
    },
    {
      "name": "IP",
      "description": "Operation related to IP verification."
    },
    {
      "name": "UPI",
      "description": "Operations related to UPI verification."
    },
    {
      "name": "Passport",
      "description": "Operation related to Passport verification."
    },
    {
      "name": "CIN",
      "description": "Operation related to CIN verification."
    },
    {
      "name": "Name Match",
      "description": "Operation related to Name Match verification."
    },
    {
      "name": "PAN to GSTIN",
      "description": "Operation related to PAN to GSTIN."
    },
    {
      "name": "Face Match",
      "description": "Operation related to Face Match verification."
    },
    {
      "name": "Voter ID",
      "description": "Operation related to Voter ID verification."
    },
    {
      "name": "Reverse Geocoding",
      "description": "Operation related to Reverse Geocoding."
    },
    {
      "name": "Liveliness",
      "description": "Operation related to Liveliness."
    },
    {
      "name": "Vehicle RC",
      "description": "Operation related to Vehicle RC verification."
    },
    {
      "name": "Driving License",
      "description": "Operation related to Driving License verification."
    },
    {
      "name": "GSTIN",
      "description": "Operation related to GSTIN verification."
    },
    {
      "name": "Account Aggregator",
      "description": "Operations related to Account aggregator."
    },
    {
      "name": "OTPLess",
      "description": "Operations related to OTPLess Verification."
    },
    {
      "name": "Secure-Share",
      "description": "Operations related to secure-share."
    },
    {
      "name": "BharatOCR",
      "description": "Operations related to BharatOCR."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "XClientID": {
        "type": "apiKey",
        "in": "header",
        "name": "x-client-id",
        "description": "Client ID. You can find your ID in the [Merchant Dashboard](https://merchant.cashfree.com/verificationsuite/developers/api-keys)."
      },
      "XClientSecret": {
        "type": "apiKey",
        "in": "header",
        "name": "x-client-secret",
        "description": "Client secret key. You can find your secret key in the [Merchant Dashboard](https://merchant.cashfree.com/verificationsuite/developers/api-keys)."
      },
      "UVXClientID": {
        "type": "apiKey",
        "in": "header",
        "name": "x-client-id",
        "description": "Client ID. You can find your ID in the [Merchant Dashboard](https://merchant.cashfree.com/verificationsuite/secure-share)."
      },
      "UVXClientSecret": {
        "type": "apiKey",
        "in": "header",
        "name": "x-client-secret",
        "description": "Client secret key. You can find your secret key in the [Merchant Dashboard](https://merchant.cashfree.com/verificationsuite/secure-share)."
      }
    },
    "schemas": {
      "BharatOCRRequestSchema": {
        "description": "Request parameters for BharatOCR.",
        "type": "object",
        "example": {
          "verification_id": "test_verification_id",
          "document_tag": "PAN",
          "file": "abc",
          "file_url": "https://linkofFile",
          "do_verification": true
        },
        "required": [
          "verification_id",
          "document_type",
          "file",
          "file_url"
        ],
        "properties": {
          "verification_id": {
            "type": "string",
            "description": "It is the unique ID you create to identify the verification request. The maximum character limit is 50. Only alphaumeric, period (.), hyphen (-), and underscore ( _ ) are allowed.",
            "example": "test_verification_id",
            "default": "test_verification_id"
          },
          "document_type": {
            "type": "string",
            "description": "Tag depicts the document type of the file being shared in the request. Allowed values are PAN, AADHAAR, DRIVING_LICENCE, VOTER_ID, PASSPORT, VEHICLE_RC, CANCELLED_CHEQUE, and INVOICE.",
            "example": "PAN",
            "default": "PAN"
          },
          "file": {
            "format": "binary",
            "description": "Image of the document. Allowed file types: JPEG, JPG, or PNG. The maximum file size is 5 MB. Conditionally required when image_url is missing.",
            "type": "string",
            "example": "image"
          },
          "file_url": {
            "type": "string",
            "description": "Public URL of the image. Allowed only https URL. Allowed file types: JPEG, JPG, or PNG. The maximum file size is 5 MB. Conditionally required when the image is missing.",
            "example": "https://linkofFile",
            "default": "file_url"
          },
          "do_verification": {
            "type": "boolean",
            "description": "Indicates whether PAN verification should be performed. When set to `true`, the API validates the individual's PAN details, including the unique identifier, name, date of birth, and other relevant information. This verification assists in customer onboarding, KYC compliance, and fraud prevention. Defaults to `false`.",
            "example": "true",
            "default": "false"
          }
        }
      },
      "BharatOCRResponseSchema": {
        "description": "Success response for retrieving the list of information associated with the mobile number.",
        "type": "object",
        "properties": {
          "verification_id": {
            "type": "string",
            "description": "It is the unique ID shared by the merchant for each request.",
            "example": "test_verification_id"
          },
          "reference_id": {
            "type": "integer",
            "description": "It displays the unique ID created by Cashfree Payments for reference purposes.",
            "example": 1358
          },
          "document_type": {
            "type": "string",
            "description": "The field will show the document_type shared or predicted if it is not shared in the request.",
            "example": "VOTED_ID"
          },
          "document_fields": {
            "type": "object",
            "description": "Structure with all the relevant fields in the input image.",
            "properties": {
              "voter_id_number": {
                "type": "string",
                "description": "It displays the voter id number.",
                "example": "ABC1234567"
              },
              "name": {
                "type": "string",
                "description": "It displays the name of the voter id holder.",
                "example": "John Doe"
              },
              "guardian_name": {
                "type": "string",
                "description": "It displays the name of the guardian of the voter id holder",
                "example": "Josh Doe"
              },
              "gender": {
                "type": "string",
                "description": "It displays the gender of the voter ID holder.",
                "example": "Male"
              },
              "date_of_birth": {
                "type": "string",
                "description": "It displays the date of birth of the ID holder.",
                "example": "2001-10-02"
              },
              "address": {
                "type": "string",
                "description": "It displays the address of the voter ID holder.",
                "example": "Floor 1, Vaishnavi summit, Koramanagala Block 3, Bengaraluru, Karnataka"
              },
              "date_of_issue": {
                "type": "string",
                "description": "It displays the date of issue of the voter ID.",
                "example": "2023-08-15"
              }
            }
          },
          "quality_checks": {
            "type": "object",
            "description": "Contains all the quality checks the product performs on the given input image.",
            "properties": {
              "blur": {
                "type": "boolean",
                "description": "Conveys whether the image is blurred or not.",
                "example": false
              },
              "partially_present": {
                "type": "boolean",
                "description": "Conveys whether the image is partially present or not.",
                "example": false
              },
              "black_and_white": {
                "type": "boolean",
                "description": "Conveys if the image is black and white.",
                "example": true
              },
              "face_present": {
                "type": "boolean",
                "description": "Conveys whether the document in the image has a face present.",
                "example": true
              },
              "qr_present": {
                "type": "boolean",
                "description": "Conveys whether the document in the image has a QR.",
                "example": false
              }
            }
          },
          "fraud_checks": {
            "type": "object",
            "description": "It displays the personal information of the mobile number holder.",
            "properties": {
              "is_screenshot": {
                "type": "boolean",
                "description": "Conveys true if the image input is a screenshot.",
                "example": false
              },
              "is_photo_of_screen": {
                "type": "boolean",
                "description": "Conveys true if the input photo is the photo of a screen.",
                "example": false
              }
            }
          },
          "verification_details": {
            "type": "object",
            "description": "It displays the personal information of the mobile number holder.",
            "properties": {
              "reference_id": {
                "type": "integer",
                "description": "It displays the unique ID created by Cashfree Payments for reference purposes."
              },
              "pan": {
                "type": "string",
                "description": "It is the unique 10-character alphanumeric identifier of the individual issued by the Income Tax Department. The first 5 should be alphabets followed by 4 numbers and the 10th character should again be an alphabet.",
                "example": "ABCTY1234D"
              },
              "name": {
                "type": "string",
                "description": "It is the name of the individual as per the PAN information",
                "example": "John Doe"
              },
              "dob": {
                "type": "string",
                "description": "It is the date of birth of the individual as per the PAN information. The format is YYYY-MM-DD",
                "example": "1993-06-30"
              },
              "name_match": {
                "type": "string",
                "description": "It displays the result of name match verification.\nThe possible values are:\n- `Y` : The name entered matches with the name present on the PAN.\n- `N` : The name entered does not match with the name present on the PAN.",
                "example": "Y"
              },
              "dob_match": {
                "type": "string",
                "description": "It displays the result of the date of birth verification. \nThe possible values are:\n- `Y` : The date of birth of the individual matches with the date of birth present on PAN.\n- `N` : The date of birth of the individual does not match with the date of birth present on PAN.",
                "example": "Y"
              },
              "pan_status": {
                "type": "string",
                "description": "It displays the status of the PAN information.\nThe possible values are:\n\n  - `E` : The entered PAN information is valid.\n\n  - `EC`: The entered PAN information exists and is valid but marked as Acquisition.\n\n  - `N` : The entered PAN information does not exist in the database.\n\n  - `X` : The entered PAN information has been deactivated.\n\n  - `F` : The entered PAN information is fake.\n\n  - `D` : The entered PAN information has been deleted.\n\n  - `EA` : The entered PAN information is valid but marked as Amalgamation.\n\n  - `ED` : The entered PAN information is valid but marked as Death.\n\n  - `EI` : The entered PAN information is valid but marked as Dissolution.\n\n  - `EL` : The entered PAN information is valid but marked as Liquidated.\n\n  - `EM` : The entered PAN information is valid but marked as Merger.\n\n  - `EP` : The entered PAN information is valid but marked as Partition.\n\n  - `ES` : The entered PAN information is valid but marked as Split.\n\n  - `EU` : The entered PAN information is valid but marked as Under Liquidation.",
                "example": "E"
              },
              "status": {
                "type": "string",
                "description": "It displays status of PAN. \nThe Possible Values are:\n- `VALID`\n- `INVALID`",
                "example": "VALID"
              },
              "aadhaar_seeding_status": {
                "type": "string",
                "description": "It displays whether the individual linked the aadhaar information with PAN. \nThe possible values are:\n- `Y`: Aadhaar is linked to PAN\n- `R`: Aadhaar is not linked to PAN\n- `NA`: Not applicable, in case of business PAN",
                "example": "Y"
              },
              "aadhaar_seeding_status_desc": {
                "type": "string",
                "description": "It displays additional information of the linking of aadhaar and PAN card.",
                "example": "Aadhaar is linked to PAN"
              }
            }
          }
        }
      },
      "Scope": {
        "type": "object",
        "properties": {
          "scope": {
            "description": "This describes the scope for which the user has provided consent.",
            "type": "string",
            "example": "MOBILE"
          },
          "records": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Mobile_Record"
                },
                {
                  "$ref": "#/components/schemas/Email_Record"
                },
                {
                  "$ref": "#/components/schemas/Address_Record"
                },
                {
                  "$ref": "#/components/schemas/Gender_Record"
                },
                {
                  "$ref": "#/components/schemas/DOB_Record"
                },
                {
                  "$ref": "#/components/schemas/Aadhaar_Record"
                },
                {
                  "$ref": "#/components/schemas/PAN_Record"
                },
                {
                  "$ref": "#/components/schemas/BAV_Record"
                },
                {
                  "$ref": "#/components/schemas/Name_Record"
                },
                {
                  "$ref": "#/components/schemas/Occupation_Record"
                },
                {
                  "$ref": "#/components/schemas/Income_Record"
                }
              ]
            }
          }
        }
      },
      "GenerateKYCLinkRequestSchema": {
        "description": "Request Body Schema for Generate KYC Link",
        "type": "object",
        "required": [
          "phone",
          "template_name",
          "verification_id"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "It is the name of the individual.",
            "example": "John Doe"
          },
          "phone": {
            "type": "string",
            "description": "It is the phone number of the individual.",
            "example": "9999999999"
          },
          "email": {
            "type": "string",
            "description": "It is the email address of the individual.",
            "example": "test@cashfree.com"
          },
          "template_name": {
            "type": "string",
            "description": "It is the name of the template you created using the merchant dashboard. You can also use the default template found there to generate the verification form. The default template is Aadhaar_verification. Using merchant dashboard, customized KYC Link templates can be created.",
            "example": "Aadhaar_verification"
          },
          "link_expiry": {
            "type": "string",
            "description": "It is the expiry date of the link. Its value can be max 30 days from the current date.",
            "example": "2025-06-01"
          },
          "notification_types": {
            "type": "array",
            "description": "It is the type(s) of notification used for sending the link.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/smsString"
                },
                {
                  "$ref": "#/components/schemas/emailString"
                },
                {
                  "$ref": "#/components/schemas/whatsappString"
                }
              ]
            }
          },
          "verification_id": {
            "type": "string",
            "description": "It is the unique ID you created to identify the KYC link.",
            "example": "ABC00123"
          }
        }
      },
      "GenerateFormLinkResponseSchema": {
        "description": "Find the success response of Generate KYC Link",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "It displays the name of the individual.",
            "example": "John Doe"
          },
          "phone": {
            "type": "string",
            "description": "It displays the phone number of the individual.",
            "example": "9999999999"
          },
          "email": {
            "type": "string",
            "description": "It displays the email address of the individual.",
            "example": "test@cashfree.com"
          },
          "verification_id": {
            "type": "string",
            "description": "It displays the unique ID you created to identity the form.",
            "example": "ABC00123"
          },
          "reference_id": {
            "type": "integer",
            "description": "It displays the unique ID created by Cashfree Payments for reference purposes.",
            "example": 235461
          },
          "form_link": {
            "type": "string",
            "description": "It displays the URL of the KYC Link.",
            "example": "https://forms-test.cashfree.com/verification/Y7tpcan5ksm0"
          },
          "form_status": {
            "type": "string",
            "description": "It displays the status of the form.",
            "example": "RECEIVED"
          }
        }
      },
      "StaticKYCLinkRequestSchema": {
        "description": "Request Body Schema for Generate Static KYC Link",
        "type": "object",
        "example": {
          "template_name": "Aadhaar_verification"
        },
        "required": [
          "template_name"
        ],
        "properties": {
          "template_name": {
            "type": "string",
            "description": "It is the name of the template you created using the merchant dashboard. You can also use the default template found there to generate the static KYC link. The default template is Aadhaar_verification. Using merchant dashboard, customized KYC Link templates can be created.",
            "example": "Aadhaar_verification"
          }
        }
      },
      "GenerateFormLinkQRCodeResponseSchema": {
        "description": "Find the success response of Generate Static KYC Link",
        "type": "object",
        "properties": {
          "static_link": {
            "type": "string",
            "description": "It displays the URL of the static KYC Link.",
            "example": "https://forms.cashfree.com/verification/global-link/Y7tpcan5ksm0"
          },
          "qr_code": {
            "type": "string",
            "description": "It displays the generated QR code link to the static KYC Link. request.",
            "example": "iVBORw0KGgoAAAANSUhEUgAAAQAAAAEAAQMAAABmvDolAAAABlBMVEX///8AAABVwtN+AAACuklEQVR42uyYwa3jMAxEx/CBR5WgTqzGgtiBG5M7UQk66mB4FkP/3WR/A5aB8PZ/3sGUqOGQ+MY3bhhGklsd6sAdiAASJgz6b70RUADLQQgiuaMBqQ0VGHsCSMvhwFBHrvqDDRjqzLUzYCPrwLWM1FG3qU+g6sMfXg9G5hsCgG3MmOtMFoAZiduviroaOJ/eFF71EdeyR8tt0uX8epuXAh4DDzzDSnKknXX9f1wMWEFSCYRXncsjjjpstkTW911cDkCqNbk+PACMhZ5DOMJ6K8Cy5ZDxDIv/bLTsijJ2BbBNyiOsBbqLZAcSX3XuB1CxSBJ+pHiH0bY2cPnQh8sBxJY8hwOIe1T3NfIIR+CNAKmFNwhZhkck9TaZw8c5XA/o6bUpSHnnMlMFw8MEPNANIOV1uzhz5YIdlpUF0BVQSOiYn3p6UL9QA6nP8OEfrgZ01N55l7DEJarj8nDpHW8EWDGe0wIXzBzZ5Hm2t3voAUC0TDkx9Yu5AC21gVKHv1rdBUAi1UnA+6hVMOwHkKfl4W7Mq7qoxxk/GsodALfiQFJeRR3D/aS63r+4HjC2ZOphS2AZqYvhxkPTRO0JgGcx/9jFlixDDWRHP0Bxu+ifzSVSyjxhAjDXjgCkJh+2BHJxu3iOtPVOgDvzzQVkLQ95MbgQz+9h8nrAXBAAPKGa3tFghx2B7+3B9YB78wMTZHJW3x7YaXLmroDsWQxyYjrqJOH99LQ3AHx6POcFf5nlZy1yfBjOy4FzB1JT9Q+nC8ggO/FO83rg3CaRGnLd9CLJiX244h6Ac5nMOlRNvLsPwaYs/o0PPQC+4ZzwlCkre6QvONzW3AzIYeNpedWaW2pTeNXugHPHxbVQ/mFrCK//F/tXA14wWQ2CexyLTxM+BHcE/F0mL2HHI+5AsmzS2h33Ab7xja7iTwAAAP//HxNnsaD8lqMAAAAASUVORK5CYII="
          },
          "template_name": {
            "type": "string",
            "description": "It is the name of the template you selected for creating QR Code.",
            "example": "Aadhaar_verification"
          },
          "status": {
            "type": "string",
            "description": "It displays the status of the static link.\nPossible values are:\n- `ACTIVE`",
            "example": "ACTIVE"
          }
        }
      },
      "DeactivateStaticKYCLinkResponseSchema": {
        "description": "Find the success response of Deactivate Static KYC Link",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "It displays whether template name is deactivated.",
            "example": "Successfully Deactivated"
          },
          "static_link": {
            "type": "string",
            "description": "It displays the URL of the static KYC Link.",
            "example": "https://forms.cashfree.com/verification/global-link/Y7tpcan5ksm0"
          },
          "template_name": {
            "type": "string",
            "description": "It is the name of the template you selected for creating static link.",
            "example": "Aadhaar_verification"
          },
          "status": {
            "type": "string",
            "description": "It displays the status of the deactivated static link.\nPossible values are:\n- `INACTIVE`",
            "example": "INACTIVE"
          }
        }
      },
      "getFormStatusResponseSchema": {
        "description": "Find the success response for Get Form Status",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "It displays the name of the individual.",
            "example": "John Doe"
          },
          "phone": {
            "type": "string",
            "description": "It displays the phone number of the individual.",
            "example": 9999999999
          },
          "email": {
            "type": "string",
            "description": "It displays the email address of the individual.",
            "example": "test@cashfree.com"
          },
          "verification_id": {
            "type": "string",
            "description": "It displays the unique ID you created to identify the form.",
            "example": "testverificationid"
          },
          "reference_id": {
            "type": "integer",
            "description": "It displays the unique ID created by Cashfree Payments for reference purposes.",
            "example": 235461
          },
          "link_expiry": {
            "type": "string",
            "description": "It displays the expiry date of the link.",
            "example": "2025-12-02"
          },
          "form_link": {
            "type": "string",
            "description": "It displays the URL of the form.",
            "example": "https://forms.cashfree.com/"
          },
          "form_status": {
            "type": "string",
            "description": "It displays the status of the form.",
            "example": "PENDING"
          },
          "verification_details": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/aadhaarFormStatusResponseSchema"
                },
                {
                  "$ref": "#/components/schemas/panFormStatusResponseSchema"
                },
                {
                  "$ref": "#/components/schemas/bavFormStatusResponseSchema"
                },
                {
                  "$ref": "#/components/schemas/upiFormStatusResponseSchema"
                }
              ]
            }
          }
        }
      },
      "aadhaarFormStatusResponseSchema": {
        "description": "It displays the status of aadhaar verification",
        "type": "object",
        "properties": {
          "reference_id": {
            "type": "integer",
            "description": "It displays the unique ID created by Cashfree Payments for reference purposes.",
            "example": 234
          },
          "type": {
            "type": "string",
            "description": "It displays the verification type.",
            "example": "OFFLINE_AADHAAR_VERIFICATION"
          },
          "status": {
            "type": "string",
            "description": "It displays the verification status.",
            "example": "SUCCESS"
          }
        }
      },
      "aadhaarFormDetailResponseSchema": {
        "description": "Offline Aadhaar Verification Details",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "VALID"
          },
          "message": {
            "type": "string",
            "example": "Aadhaar Card Exists"
          },
          "care-of": {
            "type": "string",
            "example": "S/O:Fakkirappa Dollin"
          },
          "address": {
            "type": "string",
            "example": "D-98,vikas puri, Lucknow,Uttar Pradesh-223009"
          },
          "dob": {
            "type": "string",
            "example": "25-09-1993"
          },
          "email": {
            "type": "string",
            "example": "test@cashfree.com"
          },
          "gender": {
            "type": "string",
            "example": "M"
          },
          "name": {
            "type": "string",
            "example": "Test"
          },
          "photo_link": {
            "type": "string",
            "example": "http://photo-url.com"
          },
          "mobile_hash": {
            "type": "string",
            "example": "ed189eb73247cb90b769e7e8d7dfd2efa4cd6a5ec27602f5d2721c035266568c"
          },
          "split_address": {
            "$ref": "#/components/schemas/split_address_schema"
          },
          "reference_id": {
            "type": "integer",
            "example": 234
          }
        }
      },
      "panFormStatusResponseSchema": {
        "description": "PAN Verification Product Status",
        "type": "object",
        "properties": {
          "reference_id": {
            "type": "integer",
            "example": 0
          },
          "type": {
            "type": "string",
            "example": "PANDETAILS_VERIFICATION"
          },
          "status": {
            "type": "string",
            "example": "PENDING"
          }
        }
      },
      "panFormDetailResponseSchema": {
        "description": "PAN Verification Details Response",
        "type": "object",
        "properties": {
          "pan": {
            "type": "string",
            "example": "ABCPV1234D"
          },
          "type": {
            "type": "string",
            "example": "Individual"
          },
          "name_provided": {
            "type": "string",
            "example": "Test"
          },
          "registered_name": {
            "type": "string",
            "example": "JOHN DOE"
          },
          "valid": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "PAN verified successfully"
          },
          "name_match_score": {
            "type": "string",
            "example": 0
          },
          "name_match_result": {
            "type": "string",
            "example": "NO_MATCH"
          },
          "aadhaar_seeding_status": {
            "type": "string",
            "example": "Y"
          },
          "last_updated_at": {
            "type": "string",
            "example": "01/01/2019"
          },
          "name_pan_card": {
            "type": "string",
            "example": "JOHN DOE"
          },
          "pan_status": {
            "type": "string",
            "example": "VALID"
          },
          "aadhaar_seeding_status_desc": {
            "type": "string",
            "example": "Aadhaar is linked to PAN"
          }
        }
      },
      "bavFormStatusResponseSchema": {
        "description": "Bank Details Validation Product Status",
        "type": "object",
        "properties": {
          "reference_id": {
            "type": "integer",
            "example": 236
          },
          "type": {
            "type": "string",
            "example": "BANKDETAILS_VALIDATION"
          },
          "status": {
            "type": "string",
            "example": "FAILED"
          }
        }
      },
      "bavFormDetailSchema": {
        "description": "Bank Details Validation Details",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "accountStatus": {
            "type": "string"
          },
          "accountStatusCode": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/bavDataSchema"
          }
        }
      },
      "bavDataSchema": {
        "description": "Bank Details Response",
        "type": "object",
        "properties": {
          "nameAtBank": {
            "type": "string",
            "example": "JOHN DOE"
          },
          "bankName": {
            "type": "string",
            "example": "YES BANK"
          },
          "branch": {
            "type": "string",
            "example": "SANTACRUZ, MUMBAI"
          },
          "city": {
            "type": "string",
            "example": "MUMBAI"
          },
          "utr": {
            "type": "string",
            "example": 1678097392152708
          },
          "micr": {
            "type": "integer",
            "example": 0
          },
          "nameMatchScore": {
            "type": "string",
            "example": 0
          },
          "nameMatchResult": {
            "type": "string",
            "example": "NO_MATCH"
          }
        }
      },
      "upiFormStatusResponseSchema": {
        "description": "Upi Verification Product Status",
        "type": "object",
        "properties": {
          "reference_id": {
            "type": "integer",
            "example": 237
          },
          "type": {
            "type": "string",
            "example": "UPIDETAILS_VALIDATION"
          },
          "status": {
            "type": "string",
            "example": "FAILED"
          }
        }
      },
      "upiFormDetailResponseSchema": {
        "description": "UPI Verification Details Response",
        "type": "object",
        "properties": {
          "nameAtBank": {
            "type": "string",
            "example": "Test"
          },
          "accountExists": {
            "type": "string",
            "example": "YES"
          }
        }
      },
      "split_address_schema": {
        "description": "Split address for Split addresss in Offline Aadhaar verify OTP Response.",
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "example": "India"
          },
          "dist": {
            "type": "string",
            "example": "Lucknow"
          },
          "house": {
            "type": "string",
            "example": "n-890"
          },
          "landmark": {
            "type": "string",
            "example": "opposite uioq school"
          },
          "pincode": {
            "type": "string",
            "example": 223009
          },
          "po": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "example": "Uttar Pradesh"
          },
          "street": {
            "type": "string"
          },
          "subdist": {
            "type": "string"
          },
          "vtc": {
            "type": "string",
            "example": "Gomti Nagar S.O"
          }
        }
      },
      "smsString": {
        "description": "SMS string",
        "type": "string",
        "example": "sms"
      },
      "emailString": {
        "description": "Email string",
        "type": "string",
        "example": "email"
      },
      "whatsappString": {
        "description": "Whatsapp string",
        "type": "string",
        "example": "whatsapp"
      },
      "Mobile_Record": {
        "description": "It displays the mobile number linked to the user.",
        "type": "object",
        "properties": {
          "confidence_score": {
            "description": "Indicates the system's certainty about the accuracy of the mobile number details extracted or matched.",
            "type": "number",
            "example": 0.85
          },
          "metadata": {
            "type": "object",
            "properties": {
              "mobile": {
                "type": "string",
                "example": "9988123456",
                "description": "The 10-digit mobile number of the user."
              }
            }
          }
        }
      },
      "Email_Record": {
        "description": "It displays the email address associated with the user.",
        "type": "object",
        "properties": {
          "confidence_score": {
            "description": "Indicates the system's certainty about the accuracy of the email address details extracted or matched.",
            "type": "number",
            "example": 0.85
          },
          "metadata": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "example": "example@example.com",
                "description": "The email address of the user."
              }
            }
          }
        }
      },
      "Address_Record": {
        "description": "It displays the complete address details of the user.",
        "type": "object",
        "properties": {
          "confidence_score": {
            "description": "Indicates the system's certainty about the accuracy of the address details extracted or matched.",
            "type": "number",
            "example": 0.85
          },
          "metadata": {
            "type": "object",
            "properties": {
              "complete_address": {
                "type": "string",
                "example": "123 Main St, Anytown",
                "description": "The full address of the user."
              },
              "state": {
                "type": "string",
                "example": "State",
                "description": "The state of the user."
              },
              "pincode": {
                "type": "string",
                "example": "123456",
                "description": "The postal code of the user."
              }
            }
          }
        }
      },
      "Gender_Record": {
        "description": "It displays the user's gender.",
        "type": "object",
        "properties": {
          "confidence_score": {
            "description": "Indicates the system's certainty about the accuracy of the user’s gender details extracted or matched.",
            "type": "number",
            "example": 0.85
          },
          "metadata": {
            "type": "object",
            "properties": {
              "gender": {
                "type": "string",
                "example": "MALE",
                "description": "The gender of the user."
              }
            }
          }
        }
      },
      "DOB_Record": {
        "description": "It displays the user's date of birth.",
        "type": "object",
        "properties": {
          "confidence_score": {
            "description": "Indicates the system's certainty about the accuracy of the user's date of birth details extracted or matched.",
            "type": "number",
            "example": 0.85
          },
          "metadata": {
            "type": "object",
            "properties": {
              "dob": {
                "type": "string",
                "example": "1990-01-01",
                "description": "The user's date of birth."
              }
            }
          }
        }
      },
      "Aadhaar_Record": {
        "description": "It displays the details linked to the user's Aadhaar card.",
        "type": "object",
        "properties": {
          "confidence_score": {
            "description": "Indicates the system's certainty about the accuracy of the user's Aadhaar card details extracted or matched.",
            "type": "number",
            "example": 0.85
          },
          "metadata": {
            "type": "object",
            "properties": {
              "aadhaar": {
                "type": "string",
                "example": "123456789012",
                "description": "The Aadhaar number of the user."
              },
              "care_of": {
                "type": "string",
                "example": "John Doe",
                "description": "The name of the person the address is care of."
              },
              "address": {
                "type": "string",
                "example": "123 Main St, Anytown",
                "description": "The full address linked to the Aadhaar."
              },
              "dob": {
                "type": "string",
                "example": "1990-01-01",
                "description": "Date of birth linked with Aadhaar."
              },
              "email": {
                "type": "string",
                "example": "example@example.com",
                "description": "Email address linked to the Aadhaar."
              },
              "gender": {
                "type": "string",
                "example": "Male",
                "description": "Gender information linked to the Aadhaar."
              },
              "name": {
                "type": "string",
                "example": "John Doe",
                "description": "Name of the user linked to Aadhaar."
              },
              "split_address": {
                "$ref": "#/components/schemas/SplitAddressRecord"
              },
              "year_of_birth": {
                "type": "string",
                "example": "1990",
                "description": "Year of birth associated with Aadhaar."
              },
              "mobile_hash": {
                "type": "string",
                "example": "abc123hash",
                "description": "Hashed mobile number."
              },
              "photo_link": {
                "type": "string",
                "example": "https://example.com/photo.jpg",
                "description": "Encoded link of the user's photo."
              }
            }
          }
        }
      },
      "SplitAddressRecord": {
        "description": "A detailed breakdown of the address information.",
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "example": "India",
            "description": "Country of the user's address linked to Aadhaar."
          },
          "dist": {
            "type": "string",
            "example": "BANGALORE",
            "description": "District of the user's address linked to Aadhaar."
          },
          "house": {
            "type": "string",
            "example": "House No 1",
            "description": "House number of the user's address linked to Aadhaar."
          },
          "landmark": {
            "type": "string",
            "example": "Near Landmark",
            "description": "Landmark of the user's address linked to Aadhaar."
          },
          "pincode": {
            "type": "string",
            "example": "123456",
            "description": "The postal code of the user's address linked to Aadhaar."
          },
          "po": {
            "type": "string",
            "example": "Post Office",
            "description": "The postal office of the user's address linked to Aadhaar."
          },
          "state": {
            "type": "string",
            "example": "Karnataka",
            "description": "State of the user's address linked to Aadhaar."
          },
          "street": {
            "type": "string",
            "example": "Street 123",
            "description": "Street name of the user's address linked to Aadhaar."
          },
          "subdist": {
            "type": "string",
            "example": "Ranibennur",
            "description": "Sub-district of the user's address linked to Aadhaar."
          },
          "vtc": {
            "type": "string",
            "example": "Ranibennur",
            "description": "Village or town of the user's address linked to Aadhaar."
          }
        }
      },
      "PAN_Record": {
        "description": "It displays information of the user's PAN (Permanent Account Number) card.",
        "type": "object",
        "properties": {
          "confidence_score": {
            "description": "Indicates the system's certainty about the accuracy of the user's PAN card details extracted or matched.",
            "type": "number",
            "example": 0.85
          },
          "metadata": {
            "type": "object",
            "properties": {
              "pan": {
                "type": "string",
                "example": "ABCPV1234D",
                "description": "It displays the unique 10-character alphanumeric identifier issued by the Income Tax Department."
              },
              "type": {
                "type": "string",
                "example": "Individual",
                "description": "It displays the type of the PAN issued. Possible vaules are  `Individual` `Company`"
              },
              "registered_name": {
                "type": "string",
                "example": "John Doe",
                "description": "It displays the PAN registered name."
              },
              "aadhaar_seeding_status": {
                "type": "string",
                "example": "Y",
                "description": "It displays additional information of the linking of aadhaar and PAN card. Possible values are:\n- `Y`: Aadhaar is linked to pan\n- `R`: Aadhaar is not linked to pan\n- `NA`: Not applicable, in case of business pan"
              },
              "last_updated_at": {
                "type": "string",
                "example": "2023-09-01",
                "description": "It displays the last updated date, formatted as `YYYY-MM-DD`."
              },
              "name_pan_card": {
                "type": "string",
                "example": "John Doe",
                "description": "The name displayed on the PAN card. For example, \"John Doe\"."
              },
              "aadhaar_seeding_status_desc": {
                "type": "string",
                "example": "Linked with Aadhaar",
                "description": "It displays additional information of the linking of aadhaar and PAN card."
              }
            }
          }
        }
      },
      "BAV_Record": {
        "description": "It displays the user's bank account information.",
        "type": "object",
        "properties": {
          "confidence_score": {
            "description": "Indicates the system's certainty about the accuracy of the user's bank account verification details extracted or matched.",
            "type": "number",
            "example": 0.85
          },
          "metadata": {
            "type": "object",
            "properties": {
              "bank_account": {
                "type": "string",
                "example": "1234567890",
                "description": "The user's bank account number. For example, \"1234567890\"."
              },
              "name_at_bank": {
                "type": "string",
                "example": "John Doe",
                "description": "The name of the account holder as registered with the bank."
              },
              "bank_name": {
                "type": "string",
                "example": "Example Bank",
                "description": "The name of the bank where the account is held. For example, \"HDFC Bank\"."
              },
              "city": {
                "type": "string",
                "example": "Anytown",
                "description": "The city where the bank branch is located. For example, \"BENGALURU\"."
              },
              "branch": {
                "type": "string",
                "example": "Main Branch",
                "description": "The specific branch of the bank where the account is maintained."
              },
              "micr": {
                "type": "string",
                "example": "123456789",
                "description": "The Magnetic Ink Character Recognition (MICR) code for the bank branch, used for cheque processing."
              }
            }
          }
        }
      },
      "Name_Record": {
        "description": "It displays the user's full name.",
        "type": "object",
        "properties": {
          "confidence_score": {
            "description": "Indicates the system's certainty about the accuracy of the user name extracted or matched.",
            "type": "number",
            "example": 0.85
          },
          "metadata": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "John Doe",
                "description": "The user's full name."
              }
            }
          }
        }
      },
      "Occupation_Record": {
        "description": "It displays the user's occupation information.",
        "type": "object",
        "properties": {
          "confidence_score": {
            "description": "Indicates the system's certainty about the accuracy of the user's occupation details extracted or matched.",
            "type": "number",
            "example": 0.85
          },
          "metadata": {
            "type": "object",
            "properties": {
              "occupation": {
                "description": "The user's occupation.",
                "type": "string",
                "example": "Salaried"
              }
            }
          }
        }
      },
      "Income_Record": {
        "description": "It displays the user's income range.",
        "type": "object",
        "properties": {
          "confidence_score": {
            "description": "Indicates the system's certainty about the accuracy of the user's income details extracted or matched.",
            "type": "number",
            "example": 0.85
          },
          "metadata": {
            "type": "object",
            "properties": {
              "income": {
                "description": "Represents the user's income range. Possible values are:\n`BELOW_ONE_LAKH` `ONE_TO_FIVE_LAKHS` `FIVE_TO_TEN_LAKHS` `ABOVE_TEN_LAKHS`",
                "type": "string",
                "example": "ONE_TO_FIVE_LAKHS"
              }
            }
          }
        }
      },
      "UVDataAvailabilityRequestSchema": {
        "description": "Request for data availability of the user.",
        "type": "object",
        "example": {
          "verification_id": "testverificationid",
          "user": [
            {
              "identifier_type": "MOBILE",
              "identifier_value": "9988123456"
            }
          ]
        },
        "properties": {
          "verification_id": {
            "type": "string",
            "description": "It is the unique ID you create to identify the user session. The maximum character limit is 50. Alphanumeric, period (.), hyphen (-), and underscore ( _ ) are allowed."
          },
          "user": {
            "type": "array",
            "description": "It displays the list of user identifiers.",
            "items": {
              "type": "object",
              "properties": {
                "identifier_type": {
                  "type": "string",
                  "description": "The type of identifier used to recognize a user.\nPossible values are\n- `MOBILE`: Mobile number of the user."
                },
                "identifier_value": {
                  "type": "string",
                  "description": "The 10-digit mobile number of the user. No prefixes or country codes are required."
                }
              }
            }
          }
        }
      },
      "UVDataAvailabilityResponseSchema": {
        "description": "Response for user data availability.",
        "type": "object",
        "properties": {
          "reference_id": {
            "type": "integer",
            "description": "It displays the unique ID created by Cashfree Payments for reference purposes.\nformat: `int64`",
            "example": 123456
          },
          "verification_id": {
            "type": "string",
            "description": "It displays the unique ID you created to identify the verification request.",
            "example": "testVerificationId"
          },
          "user": {
            "type": "array",
            "description": "It displays the list of user identifiers provided in the request.",
            "items": {
              "type": "object",
              "properties": {
                "identifier_type": {
                  "type": "string",
                  "description": "The type of user identifier (MOBILE)."
                },
                "identifier_value": {
                  "type": "string",
                  "description": "The 10-digit mobile number of the user. No prefixes or country codes are required."
                }
              }
            }
          },
          "available_scopes": {
            "type": "array",
            "description": "It displays the list of available scopes.\nPossible values are:\n`AADHAAR` `PAN` `DOB` `EMAIL` `GENDER` `MOBILE` `NAME` `OCCUPATION` `ADDRESS`",
            "items": {
              "type": "object",
              "properties": {
                "scope": {
                  "type": "string",
                  "description": "This describes the type of available scope."
                }
              }
            }
          }
        }
      },
      "AadhaarMaskingResponseSchema": {
        "description": "Success response for Aadhaar Masking API",
        "type": "object",
        "example": {
          "value": {
            "status": "VALID",
            "reference_id": 35476,
            "verification_id": "testverificationid",
            "image_link": "https://image.url.here"
          }
        },
        "properties": {
          "status": {
            "type": "string",
            "description": "It displays the status of the aadhaar information.",
            "example": "VALID"
          },
          "reference_id": {
            "type": "integer",
            "description": "It displays the unique ID created by Cashfree Payments for reference purposes.\nformat: `int64`",
            "example": 35476
          },
          "verification_id": {
            "type": "string",
            "description": "It displays the unique ID you created to identify the verification request",
            "example": "testverificationid"
          },
          "image_link": {
            "type": "string",
            "description": "It displays the URL of the image.",
            "example": "https://image.url.here"
          }
        }
      },
      "AadhaarOcrRequestSchema": {
        "description": "Request body schema for Aadhaar Verification via OCR.",
        "type": "object",
        "required": [
          "front_image",
          "verification_id"
        ],
        "example": {
          "verification_id": "12345678",
          "back_image": "BACK_IMAGE",
          "front_image": "FRONT_IMAGE"
        },
        "properties": {
          "verification_id": {
            "description": "It is the unique ID you create to identify the request. The maximum character limit is 50. Only alphanumeric, hyphen (-), period (.), and underscore ( _ ) are allowed.",
            "type": "string",
            "example": "12345678",
            "default": "12345678"
          },
          "back_image": {
            "description": "It is the scanned image of the back of the aadhaar card. Allowed file type - JPEG/JPG/PNG. The max file size of both the files is 10MB.",
            "type": "string",
            "format": "binary",
            "example": "BACK_IMAGE"
          },
          "front_image": {
            "description": "It is the scanned image of the front of the aadhaar card. Allowed file type - JPEG/JPG/PNG. The max file size of both the files is 10MB.",
            "type": "string",
            "format": "binary",
            "example": "FRONT_IMAGE"
          }
        }
      },
      "AadhaarOcrResponseSchema": {
        "description": "Success response for Aadhaar Verification via OCR",
        "type": "object",
        "example": {
          "name": "John Doe",
          "yob": "2000",
          "father": "Jone Doe",
          "gender": "Male",
          "uid": "123456789012",
          "state": "Madhya Pradesh",
          "pincode": "453551",
          "address": "4th cross road  Koramangala",
          "valid": true,
          "status": "VALID",
          "reference_id": "123456",
          "verification_id": "123467",
          "confidence_score": "0.98",
          "message": "It displays details about the success or failure of the API request."
        },
        "properties": {
          "name": {
            "type": "string",
            "description": "It displays the name of the aadhaar card holder.",
            "example": "John Doe"
          },
          "yob": {
            "type": "string",
            "description": "It displays the year of birth of the aadhaar card holder.",
            "example": "2000"
          },
          "father": {
            "type": "string",
            "description": "It displays the father's name of the aadhaar card holder.",
            "example": "Jone Doe"
          },
          "gender": {
            "type": "string",
            "description": "It displays the gender of the aadhaar card holder.",
            "example": "Male"
          },
          "uid": {
            "type": "string",
            "description": "It displays the UID information as present in the aadhaar card.",
            "example": "123456789012"
          },
          "state": {
            "type": "string",
            "description": "It displays the name of the state as present in the aadhaar card.",
            "example": "Madhya Pradesh"
          },
          "pincode": {
            "type": "string",
            "description": "It displays the PIN code information as present in the aadhaar card.",
            "example": "453551"
          },
          "address": {
            "type": "string",
            "description": "It displays the address information of the aadhaar card holder.",
            "example": "4th cross road  Koramangala"
          },
          "valid": {
            "type": "boolean",
            "description": "It displays whether the aadhaar card is valid or not.",
            "example": true
          },
          "status": {
            "type": "string",
            "description": "It displays the status of the aadhaar card.",
            "example": "VALID"
          },
          "reference_id": {
            "type": "string",
            "description": "It displays the unique ID created by Cashfree Payments for reference purposes.",
            "example": "123456"
          },
          "verification_id": {
            "type": "string",
            "description": "It displays the unique ID you created to identify this request.",
            "example": "123467"
          },
          "confidence_score": {
            "type": "string",
            "description": "It displays the confidence score for this aadhaar card verification request.",
            "example": "0.98"
          },
          "message": {
            "type": "string",
            "example": "valid",
            "description": "It displays details about the success or failure of the API request."
          }
        }
      },
      "AddressDetails": {
        "description": "It contains the address information of the individual.",
        "type": "object",
        "example": {
          "complete_address": "S-90 SunTower, GopiNagar, Banaglore, KA - 560109",
          "type": "permanent",
          "split_address": {
            "district": [
              "BANGALORE"
            ],
            "state": [
              "KARNATAKA",
              "KA"
            ],
            "city": [
              "BELLANDUR"
            ],
            "pincode": "560103",
            "country": [
              "IN",
              "IND",
              "INDIA"
            ],
            "address_line": "S-90 SunTower, GopiNagar, Banaglore, KA - 560109"
          }
        },
        "properties": {
          "complete_address": {
            "type": "string",
            "description": "It displays the complete address information of the individual.",
            "example": "S-90 SunTower, GopiNagar, Banaglore, KA - 560109"
          },
          "type": {
            "type": "string",
            "description": "It displays the type of the address information.",
            "example": "Permanent/Temporary"
          },
          "split_address": {
            "type": "object",
            "description": "It displays the address information in individual components.",
            "properties": {
              "district": {
                "type": "array",
                "description": "It displays the name of the district.",
                "items": {
                  "type": "string",
                  "example": [
                    "Bangalore"
                  ]
                }
              },
              "state": {
                "type": "array",
                "description": "It displays the name of the state.",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": [
                      "Karnataka",
                      "KA"
                    ]
                  }
                }
              },
              "city": {
                "type": "array",
                "description": "It displays the name of the city.",
                "items": {
                  "type": "string",
                  "example": "Banaglore"
                }
              },
              "pincode": {
                "type": "string",
                "description": "It displays the PIN code information.",
                "example": 560109
              },
              "country": {
                "type": "array",
                "description": "It displays the name of the country.",
                "items": {
                  "type": "string",
                  "example": [
                    "INDIA",
                    "IND"
                  ]
                }
              },
              "address_line": {
                "type": "string",
                "description": "It displays the address information.",
                "example": "S-90 SunTower, GopiNagar, Banaglore, KA - 560109"
              }
            }
          }
        }
      },
      "AddressDetailsMobile360": {
        "description": "It contains the address information of the individual.",
        "type": "object",
        "example": {
          "address_list": [
            {
              "address": "FLAT NO D-901 SUN,BELLANDUR, BANGALORE SOUTH,BANGALORE,KA",
              "type": "permanent",
              "state": "KARNATAKA",
              "pincode": "560103"
            }
          ]
        },
        "properties": {
          "address": {
            "type": "string",
            "description": "It displays the complete address information of the individual.",
            "example": "S-90 SunTower, GopiNagar, Banaglore, KA - 560109"
          },
          "type": {
            "type": "string",
            "description": "It displays the type of the address information.",
            "example": "Permanent/Temporary"
          },
          "state": {
            "type": "string",
            "description": "It displays the name of the state.",
            "example": "Karnataka"
          },
          "pincode": {
            "type": "string",
            "description": "It displays the PIN code information.",
            "example": 560109
          }
        }
      },
      "AdvanceEmploymentRequestSchema": {
        "description": "Find the request parameters to retrieve employment infomration",
        "type": "object",
        "required": [
          "verification_id"
        ],
        "properties": {
          "verification_id": {
            "description": "It is the unique ID you create to identify the API request. The maximum character limit is 50. Only alphanumeric, period (.), hyphen (-), and underscore ( _ ) are allowed.",
            "type": "string",
            "example": "ABC00123"
          },
          "phone": {
            "description": "It is the phone number of the employee. **(conditonal mandatory)**",
            "type": "string",
            "example": "9988776655"
          },
          "pan": {
            "type": "string",
            "description": "It is the PAN information of the employee. **(conditonal mandatory)**",
            "example": "AZJPG7110R"
          },
          "uan": {
            "type": "string",
            "description": "It is the unique number assigned to every employee contributing to the Employees' Provident Fund (EPF). **(conditonal mandatory)**",
            "example": "101340612345"
          },
          "dob": {
            "type": "string",
            "format": "date",
            "description": "It is the date of birth information of the employee. The format is YYYY-MM-DD.Employee date of birth. **(conditonal mandatory)**",
            "example": "1995-11-10"
          },
          "employee_name": {
            "type": "string",
            "description": "It is the name of the employee. **(conditonal mandatory)**",
            "example": "John Doe"
          },
          "employer_name": {
            "type": "string",
            "description": "It is the name of the employer. **(conditonal mandatory)**",
            "example": "Cashfree India Pvt Ltd"
          }
        }
      },
      "AdvanceEmploymentResponse": {
        "description": "Success response for Get Employment Details",
        "type": "object",
        "example": {
          "verification_id": "test_verification_id",
          "reference_id": 12345,
          "status": "SUCCESS",
          "input": {
            "phone": "9988776655",
            "pan": null,
            "uan": null,
            "dob": null,
            "employee_name": null,
            "employer_name": null
          },
          "uan_details": [
            {
              "uan": "101340612345",
              "source": "dob and name",
              "source_score": 0,
              "basic_details": {
                "gender": "MALE",
                "dob": "1996-10-02",
                "employee_confidence_score": null,
                "employee_name": "John Doe",
                "phone": "9988776655",
                "aadhaar_verified": true
              },
              "employment_details": {
                "member_id": "MHBAN12342200000012345",
                "establishment_id": "MHBAN1234220000",
                "exit_date": null,
                "joining_date": "2020-02-21",
                "leave_reason": null,
                "establishment_name": "Cashfree India Private Ltd",
                "employer_confidence_score": 0.1
              },
              "additional_details": {
                "aadhaar": "XXXXXXXX7561",
                "email": "johndoe@gmail.com",
                "pan": "ABCDE5930G",
                "ifsc": "SBIN0012345",
                "bank_account": "20329012345",
                "bank_address": "STATE BANK OF INDIA,KATANGA  BENGALURU",
                "relation": "F",
                "relative_name": "Alice Doe"
              }
            }
          ],
          "recent_employment_details": {
            "employee_details": {
              "member_id": "UPLKO22417520000010171",
              "exit_date": null,
              "joining_date": "2023-09-01",
              "uan": "101379636551",
              "epfo": {
                "recent": true,
                "name_unique": true,
                "pf_filings_details": true
              },
              "employed": false,
              "employee_name_match": false,
              "exit_date_marked": false
            }
          },
          "employer_details": {
            "establishment_id": "MHBAN1234220000",
            "establishment_name": "Cashfree India Private Ltd",
            "setup_date": "2020-11-19",
            "ownership_type": "Private Limited Company",
            "employer_confidence_score": 0.3,
            "employer_name_match": false,
            "pf_filing_details": [
              {
                "total_amount": 37524,
                "employees_count": 17,
                "wage_month": "NOV-23"
              },
              {
                "total_amount": 41249,
                "employees_count": 19,
                "wage_month": "OCT-23"
              },
              {
                "total_amount": 37295,
                "employees_count": 16,
                "wage_month": "SEP-23"
              }
            ]
          }
        },
        "properties": {
          "verification_id": {
            "type": "string",
            "description": "It displays the unique ID you created to identify the verification request.",
            "example": "test_verification_id"
          },
          "reference_id": {
            "type": "integer",
            "description": "It displays the unique ID created by Cashfree Payments for reference purposes.\nformat: `int64`",
            "example": 1358
          },
          "status": {
            "type": "string",
            "description": "It displays the list of status of the API request.\nPossible values are:\n`SUCCESS` `EMPLOYMENT_DETAILS_NOT_FOUND`",
            "example": "SUCCESS"
          },
          "input": {
            "type": "object",
            "description": "It contains the information entered in the API request.",
            "properties": {
              "phone": {
                "type": "string",
                "description": "It displays the phone number of the employee passed in API request."
              },
              "pan": {
                "type": "string",
                "description": "It displays the PAN information of the employee passed in API request."
              },
              "uan": {
                "type": "string",
                "description": "It displays the UAN information of the employee passed in API request."
              },
              "dob": {
                "type": "string",
                "description": "It displays the date of birth of the employee passed in API request.",
                "example": "1996-10-02"
              },
              "employee_name": {
                "type": "string",
                "description": "It displays the name of the employee passed in API request.",
                "example": "John Doe"
              },
              "employer_name": {
                "type": "string",
                "description": "It displays the name of the employer passed in API request."
              }
            }
          },
          "uan_details": {
            "type": "array",
            "description": "It contains the list of UAN details.",
            "items": {
              "type": "object",
              "description": "It contains the information in individual components.",
              "properties": {
                "uan": {
                  "type": "string",
                  "description": "It displays the Universal Account Number (UAN) information of the employee.",
                  "example": "101340612345"
                },
                "source": {
                  "type": "string",
                  "description": "It displays the fields used to fetch the data from source",
                  "example": "dob and name"
                },
                "source_score": {
                  "type": "number",
                  "description": "It displays the confidence of the source data",
                  "example": 0
                },
                "basic_details": {
                  "type": "object",
                  "description": "It displays the basic information of the employee.",
                  "properties": {
                    "gender": {
                      "type": "string",
                      "description": "It displays the gender of the employee.",
                      "example": "MALE"
                    },
                    "dob": {
                      "type": "string",
                      "description": "It displays the date of birth of the employee.",
                      "example": "1996-10-02"
                    },
                    "employee_confidence_score": {
                      "type": "number",
                      "description": "It displays the confidence score for the employee.",
                      "example": 0
                    },
                    "employee_name": {
                      "type": "string",
                      "description": "It displays the name of the employee.",
                      "example": "John Doe"
                    },
                    "phone": {
                      "type": "string",
                      "description": "It displays the phone number of the employee.",
                      "example": "9988776655"
                    },
                    "aadhaar_verified": {
                      "type": "boolean",
                      "description": "It displays whether the aadhaar information of the employee is verified or not.",
                      "example": true
                    }
                  }
                },
                "employment_details": {
                  "type": "object",
                  "description": "It contains the employement details of the individual.",
                  "properties": {
                    "member_id": {
                      "type": "string",
                      "description": "It displays the unique ID assigned to an individual.",
                      "example": "MHBAN12342200000012345"
                    },
                    "establishment_id": {
                      "type": "string",
                      "description": "It displays the unique ID assigned to a specific establishment or business entity.",
                      "example": "MHBAN1234220000"
                    },
                    "exit_date": {
                      "type": "string",
                      "description": "It displays the last working day of the employee in the organisation."
                    },
                    "joining_date": {
                      "type": "string",
                      "description": "It displays the first working day of the employee in the organisation.",
                      "example": "2020-02-21"
                    },
                    "leave_reason": {
                      "type": "string",
                      "description": "It displays the reason for leaving the previous job."
                    },
                    "establishment_name": {
                      "type": "string",
                      "description": "It displays the name of the organisation.",
                      "example": "Cashfree India Private Ltd"
                    },
                    "employer_confidence_score": {
                      "type": "number",
                      "description": "It displays the",
                      "example": 0.1
                    }
                  }
                },
                "additional_details": {
                  "type": "object",
                  "description": "It contains additional information of the individual.",
                  "properties": {
                    "aadhaar": {
                      "type": "string",
                      "description": "It displays the masked aadhaar number of the individual.",
                      "example": "XXXXXXXX7561"
                    },
                    "email": {
                      "type": "string",
                      "description": "It displays the email address of the individual.",
                      "example": "johndoe@gmail.com"
                    },
                    "pan": {
                      "type": "string",
                      "description": "It displays the PAN information of the individual.",
                      "example": "ABCDE5930G"
                    },
                    "ifsc": {
                      "type": "string",
                      "description": "It displays the IFSC information of the individual's bank account.",
                      "example": "SBIN0012345"
                    },
                    "bank_account": {
                      "type": "string",
                      "description": "It displays the bank account number of the individual.",
                      "example": "20329012345"
                    },
                    "bank_address": {
                      "type": "string",
                      "description": "It displays the address of the bank branch.",
                      "example": "STATE BANK OF INDIA,KATANGA  BENGALURU"
                    },
                    "relation": {
                      "type": "string",
                      "description": "It displays the realtionship of the individual with the relative.",
                      "example": "F"
                    },
                    "relative_name": {
                      "type": "string",
                      "description": "It displays the name of the relative.",
                      "example": "Alice Doe"
                    }
                  }
                }
              }
            }
          },
          "recent_employment_details": {
            "type": "object",
            "description": "It contains the recent employment details of the individual.",
            "properties": {
              "employee_details": {
                "type": "object",
                "description": "It contains the recent details of the individual as an employee.",
                "properties": {
                  "member_id": {
                    "type": "string",
                    "description": "It displays the unique ID assigned to an individual.",
                    "example": "UPLKO22417520000010171"
                  },
                  "exit_date": {
                    "type": "string",
                    "description": "It displays the last working day of the employee in the organisation.",
                    "example": "2024-11-01"
                  },
                  "joining_date": {
                    "type": "string",
                    "description": "It displays the first working day of the employee in the organisation.",
                    "example": "2023-09-01"
                  },
                  "uan": {
                    "type": "string",
                    "description": "It displays the Universal Account Number (UAN) information of the employee.",
                    "example": "101379636551"
                  },
                  "epfo": {
                    "type": "object",
                    "description": "It contains the information found in Employees' Provident Fund Organisation (EPFO)",
                    "properties": {
                      "recent": {
                        "type": "boolean",
                        "description": "It displays whether the retrieved information is recent.",
                        "example": true
                      },
                      "name_unique": {
                        "type": "boolean",
                        "description": "It displays whether the retrieved name is unique.",
                        "example": true
                      },
                      "pf_filings_details": {
                        "type": "boolean",
                        "description": "It displays whether the PF filing details are correct.",
                        "example": true
                      }
                    }
                  },
                  "employed": {
                    "type": "boolean",
                    "description": "It displays whether the individual is employed.",
                    "example": false
                  },
                  "employee_name_match": {
                    "type": "boolean",
                    "description": "It displays whether the individual's name matches with the name found in EPFO.",
                    "example": false
                  },
                  "exit_date_marked": {
                    "type": "boolean",
                    "description": "It displays whether the last working.",
                    "example": false
                  }
                }
              },
              "employer_details": {
                "type": "object",
                "description": "It contains the recent details of the employer.",
                "properties": {
                  "establishment_id": {
                    "type": "string",
                    "description": "It displays the unique ID assigned to a specific establishment or business entity.",
                    "example": "MHBAN1234220000"
                  },
                  "establishment_name": {
                    "type": "string",
                    "description": "It displays the name of the organisation.",
                    "example": "Cashfree India Private Ltd"
                  },
                  "setup_date": {
                    "type": "string",
                    "description": "It displays the date on which organisation is launched.",
                    "example": "2020-11-19"
                  },
                  "ownership_type": {
                    "type": "string",
                    "description": "It displays the type of ownership of the organisation.",
                    "example": "Private Limited Company"
                  },
                  "employer_confidence_score": {
                    "type": "number",
                    "description": "It displays the confidence score of organisation details.",
                    "example": 0.3
                  },
                  "employer_name_match": {
                    "type": "boolean",
                    "description": "It displays the name match score of employer name passed in input with organisation name recieved from the source.",
                    "example": false
                  },
                  "pf_filing_details": {
                    "type": "array",
                    "description": "It displays the pf filling details of the organisation.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "total_amount": {
                          "type": "number",
                          "description": "It displays the pf amount in rupees filed by organisation.",
                          "example": 37524
                        },
                        "employees_count": {
                          "type": "number",
                          "description": "It displays the count of employees in the organisation.",
                          "example": 17
                        },
                        "wage_month": {
                          "type": "string",
                          "description": "It displays month for which employees wages are being reported or processed.",
                          "example": "NOV-23"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "BAVAsyncV2ResponseSchema": {
        "type": "object",
        "description": "Find the response parameter for Bank Account Verification Async V2",
        "properties": {
          "reference_id": {
            "type": "integer",
            "description": "It displays the unique ID created by Cashfree Payments for reference purposes.\nformat: `int64`",
            "example": 23
          },
          "user_id": {
            "type": "string",
            "description": "It displays the user ID created by Cashfree Payments for reference purposes.",
            "example": "23"
          },
          "account_status": {
            "type": "string",
            "description": "It displays the status of the bank account.\nPossible values are:\n- `RECEIVED`\n\n[Click here to view the detailed descriptions of each value](https://www.cashfree.com/docs/api-reference/vrs/v2/bav-v2/bav-response-description#account-status-description).",
            "example": "RECEIVED"
          },
          "account_status_code": {
            "type": "string",
            "description": "It displays the status code of the bank account.\nPossible values are:\n- `VALIDATION_IN_PROGRESS`\n\n[Click here to view the detailed descriptions of each value](https://www.cashfree.com/docs/api-reference/vrs/v2/bav-v2/bav-response-description#account-status-code-description).",
            "example": "VALIDATION_IN_PROGRESS"
          }
        }
      },
      "BulkBAVV2ResponseSchema": {
        "type": "object",
        "description": "Find the response parameters for Bulk Bank Account Verification V2",
        "properties": {
          "bulk_reference_id": {
            "type": "integer",
            "description": "It displays the unique ID created by Cashfree Payments for reference purposes.\nformat: `int64`",
            "example": 23
          },
          "bulk_verification_id": {
            "type": "string",
            "description": "It displays the unique ID you created to identify the Bulk Bank Account Verification API request.",
            "example": "bulk-test-123"
          },
          "status": {
            "type": "string",
            "description": "It displays the status of the verification.\nPossible values are:\n- `RECEIVED`",
            "example": "RECEIVED"
          }
        }
      },
      "BAVV2ValidationSuccessfulSchema": {
        "type": "object",
        "description": "Find the description for each response parameter",
        "properties": {
          "reference_id": {
            "type": "integer",
            "description": "It displays the unique ID created by Cashfree Payments for reference purposes.\nformat: `int64`",
            "example": 23
          },
          "name_at_bank": {
            "type": "string",
            "description": "It displays the name of the account holder as per the bank records.",
            "example": "JOHN DOE"
          },
          "bank_name": {
            "type": "string",
            "description": "It displays the name of the bank.",
            "example": "YES BANK"
          },
          "utr": {
            "type": "string",
            "description": "It displays the unique transaction reference (UTR) number created by the bank to identify the transaction.",
            "example": "404223241811"
          },
          "city": {
            "type": "string",
            "description": "It displays the name of the city where the bank is located.",
            "example": "MUMBAI"
          },
          "branch": {
            "type": "string",
            "description": "It displays the name of the branch where the bank account is registered.",
            "example": "SANTACRUZ, MUMBAI"
          },
          "micr": {
            "type": "integer",
            "description": "It represents the code used to identify banks and branches participating in the Electronic Clearing System (ECS).",
            "example": 33
          },
          "name_match_score": {
            "type": "string",
            "description": "It displays the score of the name match verification.",
            "example": "90.00"
          },
          "name_match_result": {
            "type": "string",
            "description": "It displays the result of the name match verification.\nPossible values are:\n- `DIRECT_MATCH`\n- `GOOD_PARTIAL_MATCH`\n- `MODERATE_PARTIAL_MATCH`\n- `POOR_PARTIAL_MATCH`\n- `NO_MATCH`\n\n[Click here to view the detailed descriptions of each value](https://www.cashfree.com/docs/api-reference/vrs/v2/bav-v2/bav-response-description#name-match-result-description).",
            "example": "GOOD_PARTIAL_MATCH"
          },
          "account_status": {
            "type": "string",
            "description": "It displays the status of the bank account.\nPossible values are:\n- `VALID`\n- `INVALID`\n\n[Click here to view the detailed descriptions of each value](https://www.cashfree.com/docs/api-reference/vrs/v2/bav-v2/bav-response-description#account-status-description).",
            "example": "VALID"
          },
          "account_status_code": {
            "type": "string",
            "description": "It displays the status code of the bank account.\nPossible values are:\n- `ACCOUNT_IS_VALID`\n- `INVALID_ACCOUNT_FAIL`\n- `ACCOUNT_BLOCKED`\n- `INVALID_IFSC_FAIL`\n- `NRE_ACCOUNT_FAIL`\n\n[Click here to view the detailed descriptions of each value](https://www.cashfree.com/docs/api-reference/vrs/v2/bav-v2/bav-response-description#account-status-code-description).",
            "example": "ACCOUNT_IS_VALID"
          }
        }
      },
      "BAVV2GETValidationSuccessfulSchema": {
        "type": "object",
        "description": "Find the description for each response parameter",
        "properties": {
          "reference_id": {
            "type": "integer",
            "description": "It displays the unique ID created by Cashfree Payments for reference purposes.\nformat: `int64`",
            "example": 23
          },
          "name_at_bank": {
            "type": "string",
            "description": "It displays the name of the account holder as per the bank records.",
            "example": "JOHN DOE"
          },
          "bank_name": {
            "type": "string",
            "description": "It displays the name of the bank.",
            "example": "YES BANK"
          },
          "utr": {
            "type": "string",
            "description": "It displays the unique transaction reference (UTR) number created by the bank to identify the transaction.",
            "example": "404223241811"
          },
          "city": {
            "type": "string",
            "description": "It displays the name of the city where the bank is located.",
            "example": "MUMBAI"
          },
          "branch": {
            "type": "string",
            "description": "It displays the name of the branch where the bank account is registered.",
            "example": "SANTACRUZ, MUMBAI"
          },
          "micr": {
            "type": "integer",
            "description": "It represents the code used to identify banks and branches participating in the Electronic Clearing System (ECS).",
            "example": 33
          },
          "name_match_score": {
            "type": "string",
            "description": "It displays the score of the name match verification.",
            "example": "90.00"
          },
          "name_match_result": {
            "type": "string",
            "description": "It displays the result of the name match verification.\nPossible values are:\n- `DIRECT_MATCH`\n- `GOOD_PARTIAL_MATCH`\n- `MODERATE_PARTIAL_MATCH`\n- `POOR_PARTIAL_MATCH`\n- `NO_MATCH`\n\n[Click here to view the detailed descriptions of each value](https://www.cashfree.com/docs/api-reference/vrs/v2/bav-v2/bav-response-description#name-match-result-description).",
            "example": "GOOD_PARTIAL_MATCH"
          },
          "account_status": {
            "type": "string",
            "description": "It displays the status of the bank account.\nPossible values are:\n- `VALID`\n- `INVALID`\n- `RECEIVED`\n- `FAILED`\n- `REJECTED`\n- `APPROVAL_PENDING`\n- `PARTIALLY_APPROVED`\n- `IN_PROCESS`\n- `CANCELLED`\n- `PROCESSING`\n- `MANUALLY_REJECTED`\n\n[Click here to view the detailed descriptions of each value](https://www.cashfree.com/docs/api-reference/vrs/v2/bav-v2/bav-response-description#account-status-description).",
            "example": "VALID"
          },
          "account_status_code": {
            "type": "string",
            "description": "It displays the status code of the bank account.\nPossible values are:\n- `ACCOUNT_IS_VALID`\n- `FRAUD_ACCOUNT`\n- `FAILED_AT_BANK`\n- `NPCI_UNAVAILABLE`\n- `CONNECTION_TIMEOUT`\n- `SOURCE_BANK_DECLINED`\n- `BENE_BANK_DECLINED`\n- `IMPS_MODE_FAIL`\n- `BENEFICIARY_BANK_OFFLINE`\n- `VALIDATION_IN_PROGRESS`\n- `INVALID_ACCOUNT_FAIL`\n- `INVALID_IFSC_FAIL`\n- `VERIFICATION_ALREADY_UNDER_PROCESS`\n- `NRE_ACCOUNT_FAIL`\n- `ACCOUNT_BLOCKED`\n- `INSUFFICIENT_BALANCE`\n\n[Click here to view the detailed descriptions of each value](https://www.cashfree.com/docs/api-reference/vrs/v2/bav-v2/bav-response-description#account-status-code-description).",
            "example": "ACCOUNT_IS_VALID"
          }
        }
      },
      "BulkBAVV2ValidationSuccessfulSchema": {
        "type": "object",
        "description": "Find the description for each response parameter",
        "properties": {
          "bulk_reference_id": {
            "type": "integer",
            "description": "It displays the unique ID created by Cashfree Payments for reference purposes.\nformat: `int64`",
            "example": 1234
          },
          "bulk_verification_id": {
            "type": "string",
            "description": "It displays the unique ID you created to identify the API request.",
            "example": "test-bulk-123"
          },
          "entries": {
            "description": "It displays the verified bank account information",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "reference_id": {
                  "type": "integer",
                  "description": "It displays the unique ID created by Cashfree Payments for reference purposes.\nformat: `int64`",
                  "example": 123
                },
                "name_at_bank": {
                  "type": "string",
                  "description": "It displays the name of the account holder as per the bank records.",
                  "example": "JOHN DOE"
                },
                "bank_name": {
                  "type": "string",
                  "description": "It displays the name of the bank.",
                  "example": "YES BANK"
                },
                "utr": {
                  "type": "string",
                  "description": "It displays the unique transaction reference (UTR) number created by the bank to identify the transaction.",
                  "example": "404223241811"
                },
                "city": {
                  "type": "string",
                  "description": "It displays the name of the city where the bank is located.",
                  "example": "MUMBAI"
                },
                "branch": {
                  "type": "string",
                  "description": "It displays the name of the branch where the bank account is registered.",
                  "example": "SANTACRUZ, MUMBAI"
                },
                "micr": {
                  "type": "integer",
                  "description": "It represents the code used to identify banks and branches participating in the Electronic Clearing System (ECS).",
                  "example": 33
                },
                "name_match_score": {
                  "type": "string",
                  "description": "It displays the score of the name match verification.",
                  "example": "90.00"
                },
                "name_match_result": {
                  "type": "string",
                  "description": "It displays the result of the name match verification.\nPossible values are:\n- `DIRECT_MATCH`\n- `GOOD_PARTIAL_MATCH`\n- `MODERATE_PARTIAL_MATCH`\n- `POOR_PARTIAL_MATCH`\n- `NO_MATCH`\n\n[Click here to view the detailed descriptions of each value](https://www.cashfree.com/docs/api-reference/vrs/v2/bav-v2/bav-response-description#name-match-result-description)",
                  "example": "GOOD_PARTIAL_MATCH"
                },
                "account_status": {
                  "type": "string",
                  "description": "It displays the status of the bank account.\nPossible values are:\n\n  - `VALID`\n\n  - `INVALID`\n\n  - `RECEIVED`\n\n  - `FAILED`\n\n  - `REJECTED`\n\n  - `APPROVAL_PENDING`\n\n  - `PARTIALLY_APPROVED`\n\n  - `IN_PROCESS`\n\n  - `CANCELLED`\n\n  - `PROCESSING`\n\n  - `MANUALLY_REJECTED`\n\n\n  [Click here to view the detailed descriptions of each value](https://www.cashfree.com/docs/api-reference/vrs/v2/bav-v2/bav-response-description#account-status-description).",
                  "example": "VALID"
                },
                "account_status_code": {
                  "type": "string",
                  "description": "It displays the status code of the bank account.\nPossible values are:\n- `ACCOUNT_IS_VALID`\n- `FRAUD_ACCOUNT`\n- `FAILED_AT_BANK`\n- `NPCI_UNAVAILABLE`\n- `CONNECTION_TIMEOUT`\n- `SOURCE_BANK_DECLINED`\n- `BENE_BANK_DECLINED`\n- `IMPS_MODE_FAIL`\n- `BENEFICIARY_BANK_OFFLINE`\n- `VALIDATION_IN_PROGRESS`\n- `INVALID_ACCOUNT_FAIL`\n- `INVALID_IFSC_FAIL`\n- `VERIFICATION_ALREADY_UNDER_PROCESS`\n- `NRE_ACCOUNT_FAIL`\n- `ACCOUNT_BLOCKED`\n- `INSUFFICIENT_BALANCE`\n\n[Click here to view the detailed descriptions of each value](https://www.cashfree.com/docs/api-reference/vrs/v2/bav-v2/bav-response-description#account-status-code-description).",
                  "example": "ACCOUNT_IS_VALID"
                }
              }
            },
            "example": [
              {
                "reference_id": 34,
                "name_at_bank": "BHARATHTEST GKUMARUT",
                "bank_name": "YES BANK",
                "city": "MUMBAI",
                "branch": "SANTACRUZ, MUMBAI",
                "micr": 400532038,
                "name_match_score": "90.00",
                "name_match_result": "GOOD_PARTIAL_MATCH",
                "account_status": "VALID",
                "account_status_code": "ACCOUNT_IS_VALID",
                "utr": "404223241811"
              }
            ]
          }
        }
      },
      "BadgeDetails": {
        "type": "object",
        "description": "It contains information regarding any badges or emblems affixed to the vehicle. These badges could indicate various things such as the vehicle's model, trim level, special editions, or manufacturer-specific badges.",
        "example": {
          "badge_issue_date": "2023-10-23",
          "badge_no": "2389082",
          "class_of_vehicle": "LMV"
        },
        "properties": {
          "badge_issue_date": {
            "type": "string",
            "description": "It displays the date of the badge issued.",
            "example": "2023-10-23"
          },
          "badge_no": {
            "type": "string",
            "description": "It displays the number of the badge issued.",
            "example": "2389082"
          },
          "class_of_vehicle": {
            "type": "array",
            "description": "It displays the class of the vehicle.",
            "items": {
              "type": "string",
              "example": [
                "LMV"
              ]
            }
          }
        }
      },
      "BankAccountVerificationAsyncRequestSchema": {
        "description": "Request Body for Async Bank account verification",
        "type": "object",
        "required": [
          "bank_account",
          "ifsc"
        ],
        "properties": {
          "bank_account": {
            "description": "It is the bank account number for verification. It can be an alphanumeric value between 6 and 40 characters.",
            "type": "string",
            "example": "026291800001191",
            "default": "026291800001191"
          },
          "ifsc": {
            "description": "It is the IFSC information of the bank where the bank account is registered. It should be ann alphanumeric value of 11 characters. The first 4 characters should be alphabets, the 5th character should be a 0, and the remaining 6 characters should be numeric digits.",
            "type": "string",
            "example": "YESB0000262",
[...]
