{
  "openapi": "3.0.0",
  "info": {
    "version": "2025-01-01",
    "title": "Cashfree Payment Gateway APIs",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "contact": {
      "email": "developers@cashfree.com",
      "name": "API Support",
      "url": "https://discord.com/invite/QdZkNSxXsB"
    },
    "description": "Cashfree's Payment Gateway APIs provide developers with a streamlined pathway to integrate advanced payment processing capabilities into their applications, platforms and websites."
  },
  "externalDocs": {
    "url": "https://api.cashfree.com/pg",
    "description": "This url will have the information of all the APIs."
  },
  "servers": [
    {
      "url": "https://sandbox.cashfree.com/pg",
      "description": "Sandbox server"
    },
    {
      "url": "https://api.cashfree.com/pg",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Orders",
      "description": "Collection of APIs to handle orders."
    },
    {
      "name": "Payments",
      "description": "Collection of APIs to handle payments."
    },
    {
      "name": "Refunds",
      "description": "Collection of APIs to handle refunds."
    },
    {
      "name": "Settlements",
      "description": "Collection of APIs to handle settlements."
    },
    {
      "name": "Payment Links",
      "description": "Collection of APIs to handle payment links."
    },
    {
      "name": "Token Vault",
      "description": "Collection of APIs to use Cashfree's token Vault. This helps you save cards and tokenize them in a PCI-compliant manner. We support the creation of network tokens which can be used across acquiring banks."
    },
    {
      "name": "softPOS",
      "description": "Collection of APIs to manage the softPOS agent and order"
    },
    {
      "name": "Offers",
      "description": "Collection of APIs to handle offers"
    },
    {
      "name": "Eligibility",
      "description": "Collection of APIs to check eligible entities - payment methods, offers, affordability"
    },
    {
      "name": "Settlement Reconciliation",
      "description": "Collection of APIs to handle settlements"
    },
    {
      "name": "PG Reconciliation",
      "description": "Collection of APIs to handle reconciliation"
    },
    {
      "name": "Customers",
      "description": "Collection of APIs to handle customers."
    },
    {
      "name": "Easy-Split",
      "description": "Collection of APIs to handle Easy-Split."
    },
    {
      "name": "Simulation",
      "description": "Collection of APIs to handle simulation."
    },
    {
      "name": "Disputes",
      "description": "Collection of APIs to handle disputes."
    },
    {
      "name": "Utilities",
      "description": "Collection of APIs for utility requirements."
    }
  ],
  "components": {
    "securitySchemes": {
      "XClientID": {
        "type": "apiKey",
        "in": "header",
        "name": "x-client-id",
        "description": "Client app ID. You can find your app id in the [merchant dashboard](https://merchant.cashfree.com/merchants/pg/developers/api-keys?env=prod\")."
      },
      "XClientSecret": {
        "type": "apiKey",
        "in": "header",
        "name": "x-client-secret",
        "description": "Client secret key. You can find your secret in the [merchant dashboard](https://merchant.cashfree.com/merchants/pg/developers/api-keys?env=prod\")."
      },
      "XClientSignatureHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-client-signature",
        "description": "Use this if you do not want to pass the secret key and instead want to use the signature."
      },
      "XPartnerAPIKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-partner-apikey",
        "description": "If you are partner and you are making an api call on behalf of a merchant"
      },
      "XPartnerMerchantID": {
        "type": "apiKey",
        "in": "header",
        "name": "x-partner-merchantid",
        "description": "If you are partner use this to specify the merchant id if you don't have the merchant client app id"
      }
    },
    "schemas": {
      "VendorRecon200Response": {
        "title": "VendorRecon200Response",
        "description": "Fetch Vendor Recon details success response.",
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "amount": {
                  "type": "number",
                  "format": "float64"
                },
                "settlement_eligibility_time": {
                  "type": "string"
                },
                "merchant_order_id": {
                  "type": "string"
                },
                "tx_time": {
                  "type": "string"
                },
                "settlement_id": {
                  "type": "integer"
                },
                "settled": {
                  "type": "boolean"
                },
                "fee": {
                  "type": "string"
                },
                "tax": {
                  "type": "string"
                },
                "entity_id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "merchant_vendor_id": {
                  "type": "string"
                },
                "added_on_time": {
                  "type": "string"
                },
                "settlement_time": {
                  "type": "string"
                },
                "settlement_utr": {
                  "type": "string"
                },
                "currency": {
                  "type": "string"
                },
                "debit": {
                  "type": "string"
                },
                "credit": {
                  "type": "string"
                },
                "refund_arn": {
                  "type": "string"
                }
              }
            }
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "VendorReconRequest": {
        "title": "VendorReconRequest",
        "description": "Vendor Recon Request body.",
        "type": "object",
        "properties": {
          "pagination": {
            "type": "object",
            "description": "The merchant can set pagination limits based on their use case. The minimum limit is 10. Pagination will fetch a set of records, and the next set of records can be generated using the cursor provided in response to the first request for all reconciliation APIs.",
            "properties": {
              "limit": {
                "type": "integer",
                "description": "Set the minimum or maximum limit for the number of filtered data. Minimum value: 10, Maximum value: 100."
              },
              "cursor": {
                "type": "string",
                "description": "Specifies from where the next set of records should be fetched."
              }
            },
            "required": [
              "limit"
            ]
          },
          "filters": {
            "type": "object",
            "description": "Specify the filters for the desired use case.",
            "properties": {
              "settlement_id": {
                "type": "integer",
                "format": "int32",
                "description": "Specify the Settlement ID for which you want to fetch the order details. Relevant for \"View Split Order Details Using Settlement ID\"."
              },
              "merchant_vendor_id": {
                "type": "string",
                "description": "Specify the Vendor ID for which you want to fetch the recon details. Relevant for \"Vendor Recon Using Vendor ID & Time Interval\"."
              },
              "start_date": {
                "type": "string",
                "description": "Start date for fetching reconciliation details. Relevant for \"Vendor Recon for a Time Period\" and \"Vendor Recon Using Vendor ID & Time Interval\"."
              },
              "end_date": {
                "type": "string",
                "description": "End date for fetching reconciliation details. Relevant for \"Vendor Recon for a Time Period\" and \"Vendor Recon Using Vendor ID & Time Interval\"."
              }
            }
          }
        },
        "required": [
          "pagination",
          "filters"
        ],
        "example": {
          "pagination": {
            "limit": 100,
            "cursor": null
          },
          "filters": {
            "merchant_vendor_id": "test01",
            "start_date": "2024-09-01T00:00:00Z",
            "end_date": "2024-09-26T23:59:59Z"
          }
        }
      },
      "UploadTerminalDocsEntity": {
        "title": "UploadTerminalDocsEntity",
        "description": "Upload the terminal documents.",
        "type": "object",
        "example": {
          "cf_terminal_id": 1838,
          "doc_type": "PHOTOGRAPH",
          "doc_value": "docs/20260/1838/ymGCq-GIRphoto1",
          "status": "ACTIVE"
        },
        "properties": {
          "cf_terminal_id": {
            "type": "integer"
          },
          "doc_type": {
            "type": "string"
          },
          "doc_value": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "AllOffers": {
        "title": "All Offers",
        "type": "object",
        "description": "All offers applicable"
      },
      "ApiError": {
        "title": "ApiError",
        "description": "Error at cashfree's server",
        "example": {
          "message": "internal Server Error",
          "code": "internal_error",
          "type": "api_error"
        },
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "help": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "api_error"
            ],
            "description": "api_error"
          }
        }
      },
      "ApiError404": {
        "title": "ApiError404",
        "description": "Error when resource requested is not found",
        "example": {
          "message": "something is not found",
          "code": "somethind_not_found",
          "type": "invalid_request_error"
        },
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "help": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "invalid_request_error"
            ],
            "description": "invalid_request_error"
          }
        }
      },
      "ApiError409": {
        "title": "ApiError409",
        "description": "duplicate request",
        "example": {
          "message": "order with same id is already present",
          "code": "order_already_exists",
          "type": "invalid_request_error"
        },
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "help": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "invalid_request_error"
            ],
            "description": "invalid_request_error"
          }
        }
      },
      "ApiError502": {
        "title": "ApiError502",
        "description": "Error when there is error at partner bank",
        "example": {
          "message": "something is not found",
          "code": "bank_processing_failure",
          "type": "api_error"
        },
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "help": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "description": "`bank_processing_failure` will be returned here to denote failure at bank.\n"
          },
          "type": {
            "type": "string",
            "enum": [
              "api_error"
            ],
            "description": "api_error"
          }
        }
      },
      "App": {
        "title": "App",
        "description": "App payment method",
        "example": {
          "channel": "link",
          "provider": "gpay",
          "phone": "8474090552"
        },
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "description": "Specify the channel through which the payment must be processed."
          },
          "provider": {
            "type": "string",
            "enum": [
              "gpay",
              "phonepe",
              "ola",
              "paytm",
              "amazon",
              "airtel",
              "freecharge",
              "mobikwik",
              "jio"
            ],
            "description": "Specify the provider through which the payment must be processed."
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number associated with a wallet for payment."
          }
        },
        "required": [
          "channel",
          "provider",
          "phone"
        ]
      },
      "AppPaymentMethod": {
        "title": "AppPaymentMethod",
        "description": "App payment method",
        "example": {
          "app": {
            "channel": "link",
            "provider": "gpay",
            "phone": "8474090552"
          }
        },
        "type": "object",
        "properties": {
          "app": {
            "$ref": "#/components/schemas/App"
          }
        },
        "required": [
          "app"
        ]
      },
      "AuthenticationError": {
        "title": "AuthenticationError",
        "description": "Error if api keys are wrong",
        "example": {
          "message": "authentication Failed",
          "code": "request_failed",
          "type": "authentication_error"
        },
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "authentication_error"
          }
        }
      },
      "AuthorizationInPaymentsEntity": {
        "title": "AuthorizationInPayments",
        "description": "If preauth enabled for account you will get this body",
        "example": {
          "action": "CAPTURE",
          "status": "PENDING",
          "captured_amount": 100,
          "start_time": "2022-02-09T18:04:34+05:30",
          "end_time": "2022-02-19T18:04:34+05:30",
          "approve_by": "2022-02-09T18:04:34+05:30",
          "action_reference": "6595231908096894505959",
          "action_time": "2022-08-03T16:09:51"
        },
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "CAPTURE",
              "VOID"
            ],
            "description": "One of CAPTURE or VOID"
          },
          "status": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "PENDING"
            ],
            "description": "One of SUCCESS or PENDING"
          },
          "captured_amount": {
            "type": "number",
            "description": "The captured amount for this authorization request"
          },
          "start_time": {
            "type": "string",
            "description": "Start time of this authorization hold (only for UPI)"
          },
          "end_time": {
            "type": "string",
            "description": "End time of this authorization hold (only for UPI)"
          },
          "approve_by": {
            "type": "string",
            "description": "Approve by time as passed in the authorization request (only for UPI)"
          },
          "action_reference": {
            "type": "string",
            "description": "CAPTURE or VOID reference number based on action "
          },
          "action_time": {
            "type": "string",
            "description": "Time of action (CAPTURE or VOID)"
          }
        }
      },
      "AuthorizeOrderRequest": {
        "title": "AuthorizeOrderRequest",
        "description": "Request to capture or void transaction",
        "example": {
          "action": "CAPTURE",
          "amount": 100
        },
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "CAPTURE",
              "VOID"
            ],
            "description": "Type of authorization to run. Can be one of 'CAPTURE' , 'VOID'"
          },
          "amount": {
            "type": "number",
            "description": "The amount if you are running a 'CAPTURE'"
          }
        }
      },
      "BadRequestError": {
        "title": "BadRequestError",
        "description": "Invalid request received from client",
        "example": {
          "message": "bad URL, please check API documentation",
          "code": "request_failed",
          "type": "invalid_request_error"
        },
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "help": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "invalid_request_error"
            ]
          }
        }
      },
      "Card": {
        "title": "Card",
        "description": "Card Payment method",
        "required": [
          "channel"
        ],
        "example": {
          "channel": "link",
          "card_number": "4111111111111111",
          "card_holder_name": "Tushar Gupta",
          "card_expiry_mm": "06",
          "card_expiry_yy": "22",
          "card_cvv": "900",
          "address_line_one": "Address line 1",
          "address_line_two": "Address line 2",
          "city": "Minnehaha",
          "zip_code": "57109",
          "country": "United States",
          "country_code": "US",
          "state": "South Dakota",
          "state_code": "SD"
        },
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "enum": [
              "link",
              "post"
            ],
            "description": "The channel for card payments can be \"link\" or \"post\". Post is used for seamless OTP payments where merchant captures OTP on their own page."
          },
          "card_number": {
            "type": "string",
            "description": "Customer card number for plain card transactions. Token pan number for tokenized card transactions."
          },
          "card_holder_name": {
            "type": "string",
            "description": "Customer name mentioned on the card."
          },
          "card_expiry_mm": {
            "type": "string",
            "description": "Card expiry month for plain card transactions. Token expiry month for tokenized card transactions."
          },
          "card_expiry_yy": {
            "type": "string",
            "description": "Card expiry year for plain card transactions. Token expiry year for tokenized card transactions."
          },
          "card_cvv": {
            "type": "string",
            "description": "CVV mentioned on the card."
          },
          "instrument_id": {
            "type": "string",
            "description": "instrument id of saved card. Required only to make payment using saved instrument."
          },
          "cryptogram": {
            "type": "string",
            "description": "cryptogram received from card network. Required only for tokenized card transactions."
          },
          "token_requestor_id": {
            "type": "string",
            "description": "TRID issued by card networks. Required only for tokenized card transactions."
          },
          "token_reference_id": {
            "type": "string",
            "description": "Token Reference Id provided by Diners for Guest Checkout Token.  Required only for Diners cards."
          },
          "token_type": {
            "enum": [
              "ISSUER_TOKEN",
              "NETWORK_GC_TOKEN",
              "ISSUER_GC_TOKEN"
            ],
            "type": "string"
          },
          "card_display": {
            "type": "string",
            "description": "last 4 digits of original card number. Required only for tokenized card transactions."
          },
          "card_alias": {
            "type": "string",
            "description": "Card alias as returned by Cashfree Vault API."
          },
          "card_bank_name": {
            "type": "string",
            "enum": [
              "Kotak",
              "ICICI",
              "RBL",
              "BOB",
              "Standard Chartered"
            ],
            "description": "One of [\"Kotak\", \"ICICI\", \"RBL\", \"BOB\", \"Standard Chartered\"]. Card bank name, required for EMI payments. This is the bank user has selected for EMI"
          },
          "address_line_one": {
            "type": "string",
            "description": "First line of the address."
          },
          "address_line_two": {
            "type": "string",
            "description": "Second line of the address."
          },
          "city": {
            "type": "string",
            "description": "City Name."
          },
          "zip_code": {
            "type": "string",
            "description": "Pin Code/Zip Code."
          },
          "country": {
            "type": "string",
            "description": "Country Name."
          },
          "country_code": {
            "type": "string",
            "description": "Country Code. Should be in ISO 2 format (ie. US for United States)"
          },
          "state": {
            "type": "string",
            "description": "State Name."
          },
          "state_code": {
            "type": "string",
            "description": "State Code. Should be in ISO 2 format (ie. FL for Florida)"
          },
          "emi_tenure": {
            "type": "integer",
            "description": "EMI tenure selected by the user"
          }
        }
      },
      "CardArray": {
        "title": "card array",
        "description": "short code for credit card, debit card, prepaid card",
        "type": "string",
        "example": "dc"
      },
      "CardEMI": {
        "title": "CardEMI",
        "description": "Payment method for card emi",
        "required": [
          "channel",
          "card_number",
          "card_expiry_mm",
          "card_expiry_yy",
          "card_cvv",
          "card_bank_name",
          "emi_tenure"
        ],
        "example": {
          "channel": "link",
          "card_bank_name": "hdfc",
          "card_number": "4111111111111111",
          "card_holder_name": "Tushar Gupta",
          "card_expiry_mm": "06",
          "card_expiry_yy": "22",
          "card_cvv": "900",
          "emi_tenure": 3
        },
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "description": "The channel for card payments will always be \"link\""
          },
          "card_number": {
            "type": "string",
            "description": "Customer card number."
          },
          "card_holder_name": {
            "type": "string",
            "description": "Customer name mentioned on the card."
          },
          "card_expiry_mm": {
            "type": "string",
            "description": "Card expiry month."
          },
          "card_expiry_yy": {
            "type": "string",
            "description": "Card expiry year."
          },
          "card_cvv": {
            "type": "string",
            "description": "CVV mentioned on the card."
          },
          "card_alias": {
            "type": "string",
            "description": "Card alias as returned by Cashfree Vault API"
          },
          "card_bank_name": {
            "type": "string",
            "enum": [
              "hdfc",
              "kotak",
              "icici",
              "rbl",
              "bob",
              "standard chartered",
              "axis",
              "au",
              "yes",
              "sbi",
              "fed",
              "hsbc",
              "citi",
              "amex"
            ],
            "description": "Card bank name, required for EMI payments. This is the bank user has selected for EMI. One of [\"hdfc, \"kotak\", \"icici\", \"rbl\", \"bob\", \"standard chartered\", \"axis\", \"au\", \"yes\", \"sbi\", \"fed\", \"hsbc\", \"citi\", \"amex\"]"
          },
          "emi_tenure": {
            "type": "integer",
            "description": "EMI tenure selected by the user"
          }
        }
      },
      "CardEMIPaymentMethod": {
        "title": "CardEMIPaymentMethod",
        "description": "Complete card emi payment method",
        "example": {
          "emi": {
            "channel": "link",
            "card_number": "4111111111111111",
            "card_holder_name": "Tushar Gupta",
            "card_expiry_mm": "06",
            "card_expiry_yy": "22",
            "card_cvv": "900",
            "card_bank_name": "kotak",
            "emi_tenure": 3
          }
        },
        "type": "object",
        "properties": {
          "emi": {
            "$ref": "#/components/schemas/CardEMI"
          }
        },
        "required": [
          "emi"
        ]
      },
      "CardPaymentMethod": {
        "title": "CardPaymentMethod",
        "description": "The card payment object is used to make payment using either plain card number, saved card instrument id or using cryptogram",
        "example": {
          "card": {
            "channel": "link",
            "card_number": "4111111111111111",
            "card_holder_name": "Tushar Gupta",
            "card_expiry_mm": "06",
            "card_expiry_yy": "22",
            "card_cvv": "900"
          }
        },
        "type": "object",
        "properties": {
          "card": {
            "$ref": "#/components/schemas/Card"
          }
        },
        "required": [
          "card"
        ]
      },
      "CardlessEMI": {
        "title": "CardlessEMI",
        "description": "Request body for cardless emi payment method",
        "example": {
          "channel": "link",
          "provider": "kotak",
          "phone": "7768913241",
          "emi_tenure": 3
        },
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "description": "The channel for cardless EMI is always `link`"
          },
          "provider": {
            "type": "string",
            "enum": [
              "flexmoney",
              "zestmoney",
              "hdfc",
              "icici",
              "cashe",
              "idfc",
              "kotak",
              "snapmint",
              "bharatx"
            ],
            "description": "One of [`flexmoney`, `zestmoney`, `hdfc`, `icici`, `cashe`, `idfc`, `kotak`, `snapmint`, `bharatx`]"
          },
          "phone": {
            "type": "string",
            "description": "Customers phone number for this payment instrument. If the customer is not eligible you will receive a 400 error with type as 'invalid_request_error' and code as 'invalid_request_error'"
          },
          "emi_tenure": {
            "type": "integer",
            "description": "EMI tenure for the selected provider. This is mandatory when provider is one of [`hdfc`, `icici`, `cashe`, `idfc`, `kotak`]"
          }
        }
      },
      "CardlessEMIEntity": {
        "title": "CardlessEMIEntity",
        "description": "cardless EMI object",
        "type": "object",
        "properties": {
          "payment_method": {
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "example": "idfc"
          },
          "emi_plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EMIPlansArray"
            }
          }
        },
        "example": {
          "payment_method": "idfc",
          "emi_plans": [
            {
              "tenure": 1,
              "interest_rate": 10,
              "currency": "INR",
              "emi": 400,
              "total_interest": 10,
              "total_amount": 40
            }
          ]
        }
      },
      "CardlessEMIPaymentMethod": {
        "title": "CardlessEMIPaymentMethod",
        "description": "cardless EMI payment method object",
        "example": {
          "channel": "link",
          "provider": "flexmoney",
          "phone": 781234121
        },
        "type": "object",
        "properties": {
          "cardless_emi": {
            "$ref": "#/components/schemas/CardlessEMI"
          }
        },
        "required": [
          "cardless_emi"
        ]
      },
      "CardlessEMIQueries": {
        "title": "QueriesObject",
        "type": "object",
        "description": "cardless EMI query object",
        "example": {
          "order_id": "orderYB1X69LgzUQWiSxYDF",
          "amount": 20,
          "customer_details": {
            "customer_phone": "93838393833"
          }
        },
        "properties": {
          "order_id": {
            "type": "string",
            "description": "OrderId of the order. Either of `order_id` or `amount` is mandatory.",
            "minLength": 3,
            "maxLength": 50,
            "format": "string",
            "example": "orderYB1X69LgzUQWiSxYDF"
          },
          "amount": {
            "type": "number",
            "description": "Amount of the order. OrderId of the order. Either of `order_id` or `amount` is mandatory.",
            "minimum": 1,
            "example": 100
          },
          "customer_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CustomerDetailsCardlessEMI"
              }
            ],
            "example": {
              "customer_details": {
                "customer_phone": "93838393833"
              }
            }
          }
        }
      },
      "CashbackDetails": {
        "title": "CashbackDetails",
        "description": "Cashback detail boject",
        "example": {
          "cashback_type": "percentage",
          "cashback_value": "20",
          "max_cashback_amount": "150"
        },
        "type": "object",
        "properties": {
          "cashback_type": {
            "type": "string",
            "description": "Type of discount",
            "enum": [
              "flat",
              "percentage"
            ],
            "minLength": 1,
            "maxLength": 50
          },
          "cashback_value": {
            "type": "number",
            "format": "float64",
            "description": "Value of Discount."
          },
          "max_cashback_amount": {
            "type": "number",
            "format": "float64",
            "description": "Maximum Value of Cashback allowed."
          }
        },
        "required": [
          "cashback_type",
          "cashback_value",
          "max_cashback_amount"
        ]
      },
      "CreateCustomerRequest": {
        "title": "CreateCustomerRequest",
        "description": "Request body to create a customer at cashfree",
        "type": "object",
        "properties": {
          "customer_phone": {
            "type": "string",
            "description": "Customer Phone Number",
            "minLength": 10,
            "maxLength": 10,
            "example": "9999999999"
          },
          "customer_email": {
            "type": "string",
            "description": "Customer Email",
            "example": "example@test.com"
          },
          "customer_name": {
            "type": "string",
            "description": "Customer Name",
            "example": "YourCustomer"
          }
        },
        "required": [
          "customer_phone"
        ]
      },
      "SimulateRequest": {
        "title": "SimulateRequest",
        "description": "simulate payment request object",
        "type": "object",
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "PAYMENTS",
              "SUBS_PAYMENTS"
            ],
            "description": "Entity type should be PAYMENTS or SUBS_PAYMENTS only."
          },
          "entity_id": {
            "type": "string",
            "description": "If the entity type is PAYMENTS, the entity_id will be the transactionId. If the entity type is SUBS_PAYMENTS, the entity_id will be the merchantTxnId"
          },
          "entity_simulation": {
            "$ref": "#/components/schemas/EntitySimulationRequest"
          }
        },
        "required": [
          "entity",
          "entity_id",
          "entity_simulation"
        ]
      },
      "CreateLinkRequest": {
        "title": "CreateLinkRequest",
        "description": "Request paramenters for link creation",
        "example": {
          "customer_details": {
            "customer_email": "john@cashfree.com",
            "customer_name": "John Doe",
            "customer_phone": "9999999999"
          },
          "link_amount": 100,
          "link_auto_reminders": true,
          "link_currency": "INR",
          "link_expiry_time": "2021-10-14T15:04:05+05:30",
          "link_id": "my_link_id",
          "link_meta": {
            "notify_url": "https://ee08e626ecd88c61c85f5c69c0418cb5.m.pipedream.net",
            "return_url": "https://www.cashfree.com/devstudio/thankyou",
            "upi_intent": false
          },
          "link_minimum_partial_amount": 20,
          "link_notes": {
            "key_1": "value_1",
            "key_2": "value_2"
          },
          "link_notify": {
            "send_email": true,
            "send_sms": false
          },
          "link_partial_payments": true,
          "link_purpose": "Payment for PlayStation 11",
          "order_splits": [
            {
              "vendor_id": "Jane",
              "amount": 1.45,
              "tags": {
                "address": "Hyderabad"
              }
            },
            {
              "vendor_id": "Barbie",
              "amount": 3.45,
              "tags": {
                "address": "Bengaluru, India"
              }
            }
          ]
        },
        "type": "object",
        "properties": {
          "link_id": {
            "type": "string",
            "description": "Unique Identifier (provided by merchant) for the Link. Alphanumeric and only - and _ allowed (50 character limit). Use this for other link-related APIs.",
            "maxLength": 50
          },
          "link_amount": {
            "type": "number",
            "format": "double",
            "description": "Amount to be collected using this link. Provide upto two decimals for paise."
          },
          "link_currency": {
            "type": "string",
            "description": "Currency for the payment link. Default is INR. Contact care@cashfree.com to enable new currencies.",
            "minimum": 1
          },
          "link_purpose": {
            "type": "string",
            "description": "A brief description for which payment must be collected. This is shown to the customer.",
            "maxLength": 500
          },
          "customer_details": {
            "$ref": "#/components/schemas/LinkCustomerDetailsEntity"
          },
          "link_partial_payments": {
            "type": "boolean",
            "description": "If \"true\", customer can make partial payments for the link."
          },
          "link_minimum_partial_amount": {
            "type": "number",
            "format": "double",
            "description": "Minimum amount in first installment that needs to be paid by the customer if partial payments are enabled. This should be less than the link_amount."
          },
          "link_expiry_time": {
            "type": "string",
            "description": "Time after which the link expires. Customers will not be able to make the payment beyond the time specified here. You can provide them in a valid ISO 8601 time format. Default is 30 days."
          },
          "link_notify": {
            "$ref": "#/components/schemas/LinkNotifyEntity"
          },
          "link_auto_reminders": {
            "type": "boolean",
            "description": "If \"true\", reminders will be sent to customers for collecting payments."
          },
          "link_notes": {
            "$ref": "#/components/schemas/LinkNotesEntity"
          },
          "link_meta": {
            "$ref": "#/components/schemas/LinkMetaResponseEntity"
          },
          "order_splits": {
            "type": "array",
            "description": "If you have Easy split enabled in your Cashfree account then you can use this option to split the order amount.",
            "items": {
              "$ref": "#/components/schemas/VendorSplit"
            },
            "example": [
              {
                "amount": 10,
                "vendor": "john"
              }
            ]
          }
        },
        "required": [
          "link_currency",
          "link_id",
          "link_amount",
          "customer_details",
          "link_purpose"
        ]
      },
      "CreateOfferRequest": {
        "title": "CreateOfferRequest",
        "description": "create offer backend request object",
        "type": "object",
        "properties": {
          "offer_meta": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OfferMeta"
              }
            ],
            "example": {
              "$ref": "#/components/schemas/OfferMeta/example"
            }
          },
          "offer_tnc": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OfferTnc"
              }
            ],
            "example": {
              "$ref": "#/components/schemas/OfferTnc/example"
            }
          },
          "offer_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OfferDetails"
              }
            ],
            "example": {
              "$ref": "#/components/schemas/OfferDetails/example"
            }
          },
          "offer_validations": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OfferValidations"
              }
            ],
            "example": {
              "$ref": "#/components/schemas/OfferValidations/example"
            }
          }
        },
        "required": [
          "offer_meta",
          "offer_tnc",
          "offer_details",
          "offer_validations"
        ]
      },
      "CreateOrderRequest": {
        "title": "CreateOrderRequest",
        "description": "Request body to create an order at cashfree",
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "description": "Order identifier present in your system. Alphanumeric, '_' and '-' only",
            "minLength": 3,
            "maxLength": 45,
            "example": "your-order-id"
          },
          "order_amount": {
            "type": "number",
            "description": "Bill amount for the order. Provide upto two decimals. 10.15 means Rs 10 and 15 paisa",
            "format": "double",
            "example": 10.15,
            "minimum": 1
          },
          "order_currency": {
            "type": "string",
            "description": "Currency for the order. INR if left empty. Contact care@cashfree.com to enable new currencies.",
            "example": "INR"
          },
          "cart_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CartDetails"
              }
            ]
          },
          "customer_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CustomerDetails"
              }
            ],
            "example": {
              "customer_id": "7112AAA812234",
              "customer_email": "john@cashfree.com",
              "customer_phone": "9908734801"
            }
          },
          "terminal": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TerminalDetails"
              }
            ],
            "example": {
              "terminal_phone_no": "6309291183",
              "terminal_id": "terminal-1212",
              "terminal_type": "SPOS"
            }
          },
          "order_meta": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OrderMeta"
              }
            ],
            "example": {
              "return_url": "https://www.cashfree.com/devstudio/thankyou",
              "payment_methods": "cc,dc"
            }
          },
          "order_expiry_time": {
            "type": "string",
            "format": "ISO8601",
            "description": "Time after which the order expires. Customers will not be able to make the payment beyond the time specified here. We store timestamps in IST, but you can provide them in a valid ISO 8601 time format. Example 2021-07-02T10:20:12+05:30 for IST, 2021-07-02T10:20:12Z for UTC",
            "example": "2021-07-02T10:20:12+05:30"
          },
          "order_note": {
            "type": "string",
            "description": "Order note for reference.",
            "example": "Test order",
            "minLength": 3,
            "maxLength": 200
          },
          "order_tags": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OrderTags"
              }
            ],
            "example": {
              "name": "John Doe",
              "city": "Bangalore"
            }
          },
          "order_splits": {
            "type": "array",
            "description": "If you have Easy split enabled in your Cashfree account then you can use this option to split the order amount.",
            "items": {
              "$ref": "#/components/schemas/VendorSplit"
            },
            "example": [
              {
                "amount": 10,
                "vendor": "john"
              }
            ]
          },
          "products": {
            "title": "products",
            "type": "object",
            "description": "Use this to set configurations for the products like One Click Checkout, Verify and Pay, if they are enabled for your account",
            "properties": {
              "one_click_checkout": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ProductDetails"
                  }
                ]
              },
              "verify_pay": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ProductDetails"
                  }
                ]
              }
            }
          }
        },
        "required": [
          "order_amount",
          "order_currency",
          "customer_details"
        ]
      },
      "UpdateOrderExtendedRequest": {
        "title": "Update Order Extended",
        "description": "Request Body to Update extended data related to order",
        "type": "object",
        "properties": {
          "shipment_details": {
            "type": "array",
            "description": "Shipment details, such as the tracking company, tracking number, and tracking URLs, associated with the shipping of an order. Either `shipment_details` or `order_delivery_status` is required.",
            "items": {
              "$ref": "#/components/schemas/ShipmentDetails"
            }
          },
          "order_delivery_status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OrderDeliveryStatus"
              }
            ],
            "example": {
              "status": "SHIPPED",
              "reason": "shipped"
            }
          }
        },
        "required": [
          "shipment_details"
        ]
      },
      "CreateTerminalRequest": {
        "title": "Create Terminal",
        "description": "Request body to create a terminal",
        "example": {
          "terminal_id": "someTerminalID",
          "terminal_name": "Jane Doe",
          "terminal_email": "john@cashfree.com",
          "terminal_meta": null,
          "terminal_type": "STOREFRONT",
          "terminal_phone_no": "9876543210",
          "terminal_note": "POS Vertical",
          "terminal_address": "Bangalore"
        },
        "type": "object",
        "properties": {
          "terminal_id": {
            "type": "string",
            "description": "merchant’s internal terminal id",
            "minLength": 3,
            "maxLength": 100
          },
          "terminal_phone_no": {
            "type": "string",
            "description": "phone number assigned to the terminal",
            "minLength": 10,
            "maxLength": 10
          },
          "terminal_name": {
            "type": "string",
            "description": "terminal name to be assigned by merchants",
            "minLength": 3,
            "maxLength": 100
          },
          "terminal_address": {
            "type": "string",
            "description": "address of the terminal. required for STOREFRONT",
            "minLength": 1,
            "maxLength": 100
          },
          "terminal_email": {
            "type": "string",
            "description": "terminal email ID of the AGENT/STOREFRONT assigned by merchants.",
            "minLength": 1,
            "maxLength": 100
          },
          "terminal_note": {
            "type": "string",
            "description": "additional note for terminal",
            "minLength": 1,
            "maxLength": 100
          },
          "terminal_type": {
            "type": "string",
            "description": "mention the terminal type. possible values - AGENT, STOREFRONT.",
            "minLength": 1,
            "maxLength": 100
          },
          "terminal_meta": {
            "type": "object",
            "description": "terminal metadata. required field for storefront.",
            "properties": {
              "terminal_operator": {
                "description": "name of the STOREFRONT operator.",
                "type": "string"
              }
            }
          }
        },
        "required": [
          "terminal_id",
          "terminal_email",
          "terminal_type",
          "terminal_phone_no",
          "terminal_name"
        ]
      },
      "CreateTerminalTransactionRequest": {
        "title": "Create Terminal Transaction",
        "description": "Request body to create a terminal transaction",
        "example": {
          "cf_order_id": "12345",
          "cf_terminal_id": 54321,
          "payment_method": "john@cashfree.com",
          "terminal_phone_no": "9898989898",
          "add_invoice": false
        },
        "type": "object",
        "properties": {
          "cf_order_id": {
            "description": "cashfree order ID that was returned while creating an order.",
            "type": "string"
          },
          "cf_terminal_id": {
            "description": "cashfree terminal id. this is a required parameter when you do not provide the terminal phone number.",
            "type": "string"
          },
          "payment_method": {
            "type": "string",
            "description": "mention the payment method used for the transaction. possible values - QR_CODE, LINK.",
            "minLength": 3,
            "maxLength": 100
          },
          "terminal_phone_no": {
            "type": "string",
            "description": "agent mobile number assigned to the terminal. this is a required parameter when you do not provide the cf_terminal_id.",
            "minLength": 10,
            "maxLength": 10
          },
          "add_invoice": {
            "type": "boolean",
            "description": "make it true to have request be sent to create a Dynamic GST QR Code."
          }
        },
        "required": [
          "cf_order_id",
          "payment_method"
        ]
      },
      "OnboardSoundboxVpaRequest": {
        "title": "Onboard Soundbox Vpa",
        "description": "Request body to onboard soundbox vpa",
        "example": {
          "vpa": "cf.vpa-epos-gamma1018696837085fad68@sim",
          "cf_terminal_id": 3708,
          "device_serial_no": "abtest123",
          "merchant_name": "merchant-test",
          "language": "English"
        },
        "type": "object",
        "properties": {
          "vpa": {
            "description": "Terminal Vpa ,that need to onboard on soundbox",
            "type": "string"
          },
          "cf_terminal_id": {
            "description": "cashfree terminal id.",
            "type": "string"
          },
          "device_serial_no": {
            "type": "string",
            "description": "Device Serial No of soundbox"
          },
          "merchant_name": {
            "type": "string",
            "description": "Merchant Name that need to onboard on soundbox"
          },
          "language": {
            "type": "string",
            "description": "language of soundbox,currently English, Hindi, Tamil"
          }
        },
        "required": [
          "vpa",
          "cf_terminal_id",
          "device_serial_no"
        ]
      },
      "UpdateSoundboxVpaRequest": {
        "title": "Update Soundbox Vpa",
        "description": "Request body to update soundbox vpa",
        "example": {
          "vpa": "cf.vpa-epos-gamma1018696837085fad68@sim",
          "cf_terminal_id": 3708,
          "merchant_name": "merchant-test",
          "language": "English"
        },
        "type": "object",
        "properties": {
          "vpa": {
            "description": "Terminal Vpa,for which we need to update details.",
            "type": "string"
          },
          "cf_terminal_id": {
            "description": "cashfree terminal id.",
            "type": "string"
          },
          "merchant_name": {
            "type": "string",
            "description": "Merchant Name that need to updated on soundbox"
          },
          "language": {
            "type": "string",
            "description": "language of soundbox,currently English, Hindi, Tamil"
          }
        },
        "required": [
          "vpa",
          "cf_terminal_id",
          "device_serial_no"
        ]
      },
      "DemapSoundboxVpaRequest": {
        "title": "Demap Soundbox Vpa",
        "description": "Request body to demap soundbox vpa",
        "example": {
          "cf_terminal_id": 3708,
          "device_serial_no": "abtest123"
        },
        "type": "object",
        "properties": {
          "cf_terminal_id": {
            "description": "cashfree terminal id.",
            "type": "string"
          },
          "device_serial_no": {
            "type": "string",
            "description": "Device Serial No of soundbox that need to demap."
          }
        },
        "required": [
          "cf_terminal_id",
          "device_serial_no"
        ]
      },
      "CryptogramEntity": {
        "title": "CryptogramEntity",
        "description": "Crytogram Card object",
        "example": {
          "instrument_id": "54deabb4-ba45-4a60-9e6a-9c016fe7ab10",
          "token_requestor_id": "22457512314",
          "card_number": "4491365621601472",
          "card_expiry_mm": "06",
          "card_expiry_yy": "2025",
          "cryptogram": "AQBBBBBBZatIlaIAmWKSghwBBBB=",
          "card_display": "1234"
        },
        "properties": {
          "instrument_id": {
            "type": "string",
            "description": "instrument_id of saved instrument"
          },
          "token_requestor_id": {
            "type": "string",
            "description": "TRID issued by card networks"
          },
          "card_number": {
            "type": "string",
            "description": "token pan number"
          },
          "card_expiry_mm": {
            "type": "string",
            "description": "token pan expiry month"
          },
          "card_expiry_yy": {
            "type": "string",
            "description": "token pan expiry year"
          },
          "cryptogram": {
            "type": "string",
            "description": "cryptogram"
          },
          "card_display": {
            "type": "string",
            "description": "last 4 digits of original card number"
          }
        }
      },
      "CartDetails": {
        "title": "CartDetails",
        "description": "The cart details that are necessary like shipping address, billing address and more.",
        "type": "object",
        "properties": {
          "customer_note": {
            "type": "string"
          },
          "shipping_charge": {
            "type": "number",
            "format": "double"
          },
          "cart_name": {
            "type": "string",
            "description": "Name of the cart."
          },
          "customer_shipping_address": {
            "$ref": "#/components/schemas/CartAddress"
          },
          "customer_billing_address": {
            "$ref": "#/components/schemas/CartAddress"
          },
          "cart_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CartItem"
            }
          }
        }
      },
      "CartAddress": {
        "title": "CartAddress",
        "description": "Address given for cart details.",
        "properties": {
          "full_name": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "pincode": {
            "type": "string"
          },
          "address_1": {
            "type": "string"
          },
          "address_2": {
            "type": "string"
          }
        }
      },
      "CartItem": {
        "title": "CartItem",
        "description": "Each item in the cart.",
        "properties": {
          "item_id": {
            "type": "string",
            "description": "Unique identifier of the item"
          },
          "item_name": {
            "type": "string",
            "description": "Name of the item"
          },
          "item_description": {
            "type": "string",
            "description": "Description of the item"
          },
          "item_tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags attached to that item"
          },
          "item_details_url": {
            "type": "string",
            "description": "Item details url"
          },
          "item_image_url": {
            "type": "string",
            "description": "Item image url"
          },
          "item_original_unit_price": {
            "type": "number",
            "format": "double",
            "description": "Original price"
          },
          "item_discounted_unit_price": {
            "type": "number",
            "format": "double",
            "description": "Discounted Price"
          },
          "item_currency": {
            "type": "string",
            "description": "Currency of the item."
          },
          "item_quantity": {
            "type": "number",
            "format": "int32",
            "description": "Quantity if that item"
          }
        }
      },
      "CustomerDetails": {
        "title": "CustomerDetails",
        "description": "The customer details that are necessary. Note that you can pass dummy details if your use case does not require the customer details.",
        "example": {
          "customer_id": "7112AAA812234",
          "customer_email": "john@cashfree.com",
          "customer_phone": "9908734801",
          "customer_name": "John Doe",
          "customer_bank_account_number": "1518121112",
          "customer_bank_ifsc": "XITI0000001",
          "customer_bank_code": 3333,
          "customer_uid": "54deabb4-ba45-4a60-9e6a-9c016fe7ab10"
        },
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string",
            "description": "A unique identifier for the customer. Use alphanumeric values only.",
            "minLength": 3,
            "maxLength": 50
          },
          "customer_email": {
            "type": "string",
            "description": "Customer email address.",
            "minLength": 3,
            "maxLength": 100
          },
          "customer_phone": {
            "type": "string",
            "description": "Customer phone number.",
            "minLength": 10,
            "maxLength": 10
          },
          "customer_name": {
            "type": "string",
            "description": "Name of the customer.",
            "minLength": 3,
            "maxLength": 100
          },
          "customer_bank_account_number": {
            "type": "string",
            "description": "Customer bank account. Required if you want to do a bank account check (TPV)",
            "minLength": 3,
            "maxLength": 20
          },
          "customer_bank_ifsc": {
            "type": "string",
            "description": "Customer bank IFSC. Required if you want to do a bank account check (TPV)"
          },
          "customer_bank_code": {
            "type": "number",
            "description": "Customer bank code. Required for net banking payments, if you want to do a bank account check (TPV)"
          },
          "customer_uid": {
            "type": "string",
            "description": "Customer identifier at Cashfree. You will get this when you create/get customer"
          }
        },
        "required": [
          "customer_id",
          "customer_phone"

        ]
      },
      "CustomerDetailsResponse": {
        "title": "CustomerDetailsResponse",
        "description": "The customer details that are necessary. Note that you can pass dummy details if your use case does not require the customer details.",
        "example": {
          "customer_id": "7112AAA812234",
          "customer_email": "john@cashfree.com",
          "customer_phone": "9908734801",
          "customer_name": "John Doe",
          "customer_bank_account_number": "1518121112",
          "customer_bank_ifsc": "XITI0000001",
          "customer_bank_code": 3333,
          "customer_uid": "54deabb4-ba45-4a60-9e6a-9c016fe7ab10"
        },
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string",
            "description": "A unique identifier for the customer. Use alphanumeric values only.",
            "minLength": 3,
            "maxLength": 50
          },
          "customer_email": {
            "type": "string",
            "description": "Customer email address.",
            "minLength": 3,
            "maxLength": 100
          },
          "customer_phone": {
            "type": "string",
            "description": "Customer phone number.",
            "minLength": 10,
            "maxLength": 10
          },
          "customer_name": {
            "type": "string",
            "description": "Name of the customer.",
            "minLength": 3,
            "maxLength": 100
          },
          "customer_bank_account_number": {
            "type": "string",
            "description": "Customer bank account. Required if you want to do a bank account check (TPV)",
            "minLength": 3,
            "maxLength": 20
          },
          "customer_bank_ifsc": {
            "type": "string",
            "description": "Customer bank IFSC. Required if you want to do a bank account check (TPV)"
          },
          "customer_bank_code": {
            "type": "number",
            "description": "Customer bank code. Required for net banking payments, if you want to do a bank account check (TPV)"
          },
          "customer_uid": {
            "type": "string",
            "description": "Customer identifier at Cashfree. You will get this when you create/get customer"
          }
        }
      },
      "ShipmentDetails": {
        "title": "ShipmentDetails",
        "description": "Shipment details associated with shipping of order like tracking company, tracking number,tracking urls etc.",
        "properties": {
          "tracking_company": {
            "type": "string",
            "description": "Tracking company name associated with order.",
            "example": "DHL"
          },
          "tracking_urls": {
            "type": "array",
            "description": "Tracking Urls associated with order.",
            "items": {
              "type": "string",
              "example": "https://dhl.com/track/123456"
            }
          },
          "tracking_numbers": {
            "type": "array",
            "description": "Tracking Numbers associated wih order.",
            "items": {
              "type": "string",
              "example": "TRACK654321"
            }
          }
        },
        "required": [
          "tracking_company",
          "tracking_urls",
          "tracking_numbers"
        ]
      },
      "TerminalData": {
        "description": "Terminal Data in the create order response",
        "example": {
          "agent_mobile_number": "9876543214",
          "cf_terminal_id": 1838,
          "merchant_terminal_id": "ahdsgadjhgfaj7137e",
          "terminal_type": "STOREFRONT"
        },
        "properties": {
          "agent_mobile_number": {
            "type": "string"
          },
          "cf_terminal_id": {
            "type": "integer"
          },
          "merchant_terminal_id": {
            "type": "string"
          },
          "terminal_type": {
            "type": "string"
          }
        },
        "title": "TerminalData",
        "type": "object"
      },
      "OrderDeliveryStatus": {
        "title": "OrderDeliveryStatus",
        "description": "Order delivery Status associated with order.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "AWAITING_PICKUP",
              "CANCELLED",
              "SELF_FULFILLED",
              "PICKED_UP",
              "SHIPPED",
              "IN_TRANSIT",
              "DELAY_COURIER_COMPANY_ISSUES",
              "DELAY_INCORRECT_ADDRESS",
              "DELAY_SELLER_ISSUES",
              "REACHED_DESTINATION_HUB",
              "OUT_FOR_DELIVERY",
              "DELIVERED",
              "POTENTIAL_RTO_DELIVERY_ATTEMPTED",
              "RTO",
              "LOST",
              "DAMAGED",
              "UNTRACKABLE_404",
              "MANUAL_INTERVENTION_BROKEN_URL",
              "ASSOCIATED_WITH_RETURN_PICKUP",
              "UNSERVICEABLE"
            ],
            "description": "Delivery status of order",
            "example": "CANCELLED"
          },
          "reason": {
            "type": "string",
            "description": "Reason of provided order delivery status. This is optional field.",
            "example": "cancelled due to wrong address"
          }
        },
        "required": [
          "status"
        ]
      },
      "CustomerDetailsCardlessEMI": {
        "title": "CustomerDetailsObject",
        "description": "Details of the customer for whom eligibility is being checked.",
        "type": "object",
        "example": {
          "customer_phone": "9898989898"
        },
        "properties": {
          "customer_phone": {
            "type": "string",
            "description": "Phone Number of the customer",
            "minLength": 3,
            "maxLength": 50,
            "example": "9898989898"
          }
        },
        "required": [
          "customer_phone"
        ]
      },
      "CustomerEntity": {
        "title": "CustomerEntity",
        "type": "object",
        "description": "The complete customer entity",
        "example": {
          "$ref": "#/components/examples/customer_entity_example"
        },
        "properties": {
          "customer_uid": {
            "type": "string",
            "description": "unique id generated by cashfree for your customer"
          },
          "customer_phone": {
            "type": "string",
            "description": "Customer Phone Number"
          },
          "customer_email": {
            "type": "string",
            "description": "Customer Email"
          },
          "customer_name": {
            "type": "string",
            "description": "Customer Name"
          }
        }
      },
      "DiscountDetails": {
        "title": "DiscountDetails",
        "description": "detils of the discount object of offer",
        "example": {
          "discount_type": "flat",
          "discount_value": "10",
          "max_discount_amount": "10"
        },
        "type": "object",
        "properties": {
          "discount_type": {
            "type": "string",
            "description": "Type of discount",
            "enum": [
              "flat",
              "percentage"
            ],
            "minLength": 3,
            "maxLength": 50
          },
          "discount_value": {
            "type": "number",
            "format": "float64",
            "description": "Value of Discount."
          },
          "max_discount_amount": {
            "type": "number",
            "format": "float64",
            "description": "Maximum Value of Discount allowed."
          }
        },
        "required": [
          "discount_type",
          "discount_value",
          "max_discount_amount"
        ]
      },
      "EMIPlansArray": {
        "title": "EMIPlansArray",
        "description": "Single EMI object",
        "type": "object",
        "properties": {
          "tenure": {
            "type": "integer",
            "example": 3
          },
          "interest_rate": {
            "type": "number",
            "example": 24
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 50,
            "example": "INR"
          },
          "emi": {
            "type": "integer",
            "example": 3468
          },
          "total_interest": {
            "type": "integer",
            "example": 404
          },
          "total_amount": {
            "type": "integer",
            "example": 10404
          }
        }
      },
      "EligibilityCardlessEMIEntity": {
        "title": "EligibilityCardlessEMIEntity",
        "description": "Carless EMI eligible entity",
        "type": "object",
        "properties": {
          "eligibility": {
            "type": "boolean",
            "example": true
          },
          "entity_type": {
            "type": "string",
            "example": "cardlessemi"
          },
          "entity_value": {
            "type": "string",
            "example": "idfc"
          },
          "entity_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CardlessEMIEntity"
              }
            ],
            "example": {
              "$ref": "#/components/schemas/CardlessEMIEntity/example"
            }
          }
        }
      },
      "EligibilityFetchCardlessEMIRequest": {
        "title": "EligibilityFetchCardlessEMIRequest",
        "description": "eligibilty request for cardless",
        "example": {
          "queries": {
            "$ref": "#/components/schemas/CardlessEMIQueries/example"
          }
        },
        "type": "object",
        "properties": {
          "queries": {
            "$ref": "#/components/schemas/CardlessEMIQueries"
          }
        },
        "required": [
          "queries"
        ]
      },
      "EligibilityFetchOffersRequest": {
        "title": "EligibilityFetchOffersRequest",
        "type": "object",
        "description": "Eligiblty API request",
        "example": {
          "queries": {
            "$ref": "#/components/schemas/OfferQueries/example"
          }
        },
        "properties": {
          "queries": {
            "$ref": "#/components/schemas/OfferQueries"
          },
          "filters": {
            "$ref": "#/components/schemas/OfferFilters"
          }
        },
        "required": [
          "queries"
        ]
      },
      "EligibilityFetchPaylaterRequest": {
        "title": "EligibilityFetchPaylaterRequest",
        "description": "Request to get eligible paylater payment methods",
        "example": {
          "queries": {
            "$ref": "#/components/schemas/CardlessEMIQueries/example"
          }
        },
        "type": "object",
        "properties": {
          "queries": {
            "$ref": "#/components/schemas/CardlessEMIQueries"
          }
        },
        "required": [
          "queries"
        ]
      },
      "EligibilityFetchPaymentMethodsRequest": {
        "title": "EligibilityFetchPaymentMethodsRequest",
        "description": "eligibilty request to find eligible payment method",
        "example": {
          "queries": {
            "$ref": "#/components/schemas/PaymentMethodsQueries/example"
          },
          "filters": {
            "$ref": "#/components/schemas/PaymentMethodsFilters/example"
          }
        },
        "type": "object",
        "properties": {
          "queries": {
            "$ref": "#/components/schemas/PaymentMethodsQueries"
          },
          "filters": {
            "$ref": "#/components/schemas/PaymentMethodsFilters"
          }
        },
        "required": [
          "queries"
        ]
      },
      "EligibilityOfferEntity": {
        "title": "EligibilityOfferEntity",
        "description": "Eligible offer object",
        "type": "object",
        "properties": {
          "eligibility": {
            "type": "boolean",
            "example": true
          },
          "entity_type": {
            "type": "string",
            "example": "offers"
          },
          "entity_value": {
            "type": "string",
            "example": "d2b430fb-1afe-455a-af31-66d00377b29a"
          },
          "entity_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OfferEntity"
              }
            ],
            "example": {
              "$ref": "#/components/examples/offer_entity_example/value/0"
            }
          }
        }
      },
      "EligibilityPaylaterEntity": {
        "title": "EligibilityPaylaterEntity",
        "description": "Eligible paylater payment method",
        "type": "object",
        "properties": {
          "eligibility": {
            "type": "boolean",
            "example": true
          },
          "entity_type": {
            "type": "string",
            "example": "paylater"
          },
          "entity_value": {
            "type": "string",
            "example": "olapostpaid"
          },
          "entity_details": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PaylaterEntity"
              }
            ],
            "example": {
              "payment_method": {
                "type": "string",
                "example": "olapostpaid"
              }
            }
          }
        }
      },
      "EligibilityPaymentMethodsEntity": {
        "title": "EligibilityPaymentMethodsEntity",
        "description": "Eligible payment methods details",
        "type": "object",
        "properties": {
          "eligibility": {
            "type": "boolean",
            "example": true
          },
          "entity_type": {
            "type": "string",
            "example": "payment_methods"
          },
          "entity_value": {
            "type": "string",
            "example": "netbanking"
          },
          "entity_details": {
            "type": "object",
            "properties": {
              "payment_method_details": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PaymentModeDetails"
                }
              }
            },
            "example": {
              "payment_method_details": [
                {
                  "nick": "motak_kahindra_bank",
                  "display": "Motak Kahindra Bank",
                  "eligibility": true,
                  "code": 3032
                },
                {
                  "nick": "bank_of_india",
                  "display": "Bank Of India",
                  "eligibility": true,
                  "code": 3031
                }
              ]
            }
          }
        }
      },
      "InternationalPaymentEntity": {
        "title": "InternationalPayment",
        "description": "International payment details",
        "type": "object",
        "properties": {
          "international": {
            "type": "boolean"
          }
        }
      },
      "ErrorDetailsInPaymentsEntity": {
        "title": "ErrorDetailsInPayments",
        "description": "The error details are present only for failed payments",
        "example": {
          "error_code": "TRANSACTION_DECLINED",
          "error_description": "issuer bank or payment service provider declined the transaction",
          "error_reason": "auth_declined",
          "error_source": "customer",
          "error_code_raw": "ZM",
          "error_description_raw": "INVALID / INCORRECT MPIN",
          "error_subcode_raw": ""
        },
        "type": "object",
        "properties": {
          "error_code": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          },
          "error_reason": {
            "type": "string"
          },
          "error_source": {
            "type": "string"
          },
          "error_code_raw": {
            "type": "string"
          },
          "error_description_raw": {
            "type": "string"
          },
          "error_subcode_raw": {
            "type": "string"
          }
        }
      },
      "FetchReconRequest": {
        "type": "object",
        "description": "Recon object",
        "example": {
          "pagination": {
            "limit": 10,
            "cursor": "eyJzZWFyY2hBZnRlciI6eyJsaXN0IjpbMTg4NjcxNDVdLCJlbXB0eSI6ZmFsc2V9LCJyZWNvbkFQSVR5cGUiOiJMRURHRVIifQ=="
          },
          "filters": {
            "start_date": "2022-07-20T00:00:00Z",
            "end_date": "2022-07-21T23:59:59Z"
          }
        },
        "properties": {
          "pagination": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer",
                "description": "Number of settlements you want to fetch in the next iteration. Maximum limit is 1000, default value is 10."
              },
              "cursor": {
                "type": "string",
                "description": "Specifies from where the next set of settlement details should be fetched."
              }
            },
            "description": "To fetch the next set of settlements, pass the cursor received in the response to the next API call. \n To receive the data for the first time, pass the cursor as null. \n Limit would be number of settlements that you want to receive.",
            "required": [
              "limit"
            ]
          },
          "filters": {
            "type": "object",
            "properties": {
              "start_date": {
                "type": "string",
                "description": "Specify the start date from when you want the settlement reconciliation details."
              },
              "end_date": {
                "type": "string",
                "description": "Specify the end date till when you want the settlement reconciliation details."
              }
            },
            "required": [
              "start_date",
              "end_date"
            ]
          }
        },
        "required": [
          "pagination",
          "filters"
        ]
      },
      "FetchSettlementsRequest": {
        "type": "object",
        "description": "Request to fetch settlement",
        "example": {
          "pagination": {
            "limit": 10,
            "cursor": "eyJzZWFyY2hBZnRlciI6eyJsaXN0IjpbMTg4NjcxNDVdLCJlbXB0eSI6ZmFsc2V9LCJyZWNvbkFQSVR5cGUiOiJMRURHRVIifQ=="
          },
          "filters": {
            "cf_settlement_ids": [
              "4234233"
            ],
            "settlement_utrs": [
              "utr1",
              "utr2"
            ],
            "start_date": "2022-07-20T00:00:00Z",
            "end_date": "2022-07-21T23:59:59Z"
          }
        },
        "properties": {
          "pagination": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer",
                "description": "The number of settlements you want to fetch. Maximum limit is 1000, default value is 10."
              },
              "cursor": {
                "type": "string",
                "description": "Specifies from where the next set of settlement details should be fetched."
              }
            },
            "description": "To fetch the next set of settlements, pass the cursor received in the response to the next API call. \n To receive the data for the first time, pass the cursor as null. \n Limit would be number of settlements that you want to receive.",
            "required": [
              "limit"
            ]
          },
          "filters": {
            "type": "object",
            "properties": {
              "cf_settlement_ids": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of settlement IDs for which you want the settlement reconciliation details."
              },
              "settlement_utrs": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of settlement UTRs for which you want the settlement reconciliation details."
              },
              "start_date": {
                "type": "string",
                "description": "Specify the start date from when you want the settlement reconciliation details."
              },
              "end_date": {
                "type": "string",
                "description": "Specify the end date till when you want the settlement reconciliation details."
              }
            },
            "description": "Specify either the Settlement ID, Settlement UTR, or start date and end date to fetch the settlement details."
          }
        },
        "required": [
          "pagination",
          "filters"
        ]
      },
      "FetchTerminalQRCodesEntity": {
        "title": "FetchTerminalQRCodesEntity",
        "description": "Fetch Static QR Codes using terminal ID or phone number",
        "example": {
          "bank": "SIM",
          "qrCode": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEAAQMAAABmvDolAAAABlBMVEX///",
          "qrCodeUrl": "upi://pay?cu=INR&pa=cf.vpa-epos-gamma202601415xwtvf9",
          "status": "ACTIVE"
        },
        "type": "object",
        "properties": {
          "bank": {
            "type": "string",
            "description": "Name of the bank that is linked to the Static QR."
          },
          "qrCode": {
            "type": "string",
            "description": "Base-64 Encoded QR Code URL"
          },
          "qrCodeUrl": {
            "type": "string",
            "description": "URL of the qr Code."
          },
          "status": {
            "type": "string",
            "description": "Status of the static QR."
          }
        }
      },
      "IdempotencyError": {
        "title": "IdempotencyError",
        "description": "Error when idempotency fails. Different request body with the same idempotent key",
        "example": {
          "message": "something is not found",
          "code": "request_invalid",
          "type": "idempotency_error"
        },
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "help": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "idempotency_error"
            ],
            "description": "idempotency_error"
          }
        }
      },
      "InstrumentEntity": {
        "title": "InstrumentEntity",
        "description": "Saved card instrument object",
        "example": {
          "customer_id": "siddhesh_desai",
          "afa_reference": "740324562",
          "instrument_id": "54deabb4-ba45-4a60-9e6a-9c016fe7ab10",
          "instrument_type": "card",
          "instrument_uid": "0d8f70838cc5af8b1cd2bc0fe71278551fd3f1101e40020d89ad22ceba4f933c",
          "instrument_display": "xxxxxxxxxxxx4375",
          "instrument_status": "ACTIVE",
          "created_at": "2021-11-11 16:57:57",
          "instrument_meta": {
            "card_network": "VISA",
            "card_bank_name": "HDFC Bank Limited",
            "card_country": "IN",
            "card_type": "DEBIT_CARD",
            "card_token_details": {
              "par": "somepar",
              "expiry_month": "12",
              "expiry_year": "23"
            }
          }
        },
        "properties": {
          "customer_id": {
            "type": "string",
            "description": "customer_id for which the instrument was saved"
          },
          "afa_reference": {
            "type": "string",
            "description": "cf_payment_id of the successful transaction done while saving instrument"
          },
          "instrument_id": {
            "type": "string",
            "description": "saved instrument id"
          },
          "instrument_type": {
            "type": "string",
            "enum": [
              "card"
            ],
            "description": "Type of the saved instrument"
          },
          "instrument_uid": {
            "type": "string",
            "description": "Unique id for the saved instrument"
          },
          "instrument_display": {
            "type": "string",
            "description": "masked card number displayed to the customer"
          },
          "instrument_status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ],
            "description": "Status of the saved instrument."
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp at which instrument was saved."
          },
          "instrument_meta": {
            "$ref": "#/components/schemas/SavedInstrumentMeta"
          }
        }
      },
      "InstrumentWebhook": {
        "title": "InstrumentWebhook",
        "description": "Instrument webhook object",
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "title": "InstrumentWebhookDataEntity",
                "description": "data entity in webhook",
                "properties": {
                  "instrument": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/InstrumentEntity"
                      }
                    ]
                  }
                }
              },
              "event_time": {
                "type": "string",
                "example": "2021-10-07T19:42:44+05:30"
              },
              "type": {
                "type": "string",
                "example": "INSTRUMENT_ACTIVE_WEBHOOK"
              }
            }
          }
        }
      },
      "PaymentWebhook": {
        "title": "PaymentWebhook",
        "description": "payment webhook object",
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "title": "PaymentWebhookDataEntity",
            "description": "data entity in webhook",
            "properties": {
              "order": {
                "type": "object",
                "title": "PaymentWebhookOrderEntity",
                "description": "order entity in webhook",
                "properties": {
                  "order_id": {
                    "type": "string"
                  },
                  "order_amount": {
                    "type": "number",
                    "format": "double"
                  },
                  "order_currency": {
                    "type": "string"
                  },
                  "order_tags": {
                    "type": "object",
                    "maxProperties": 15,
                    "description": "Custom Tags in thr form of {\"key\":\"value\"} which can be passed for an order. A maximum of 10 tags can be added",
                    "additionalProperties": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 255
                    }
                  }
                }
              },
              "payment": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PaymentEntity"
                  }
                ]
              },
              "customer_details": {
                "type": "object",
                "description": "customer details object in webhook",
                "title": "PaymentWebhookCustomerEntity",
                "properties": {
                  "customer_name": {
                    "type": "string",
                    "example": "Yogesh"
                  },
                  "customer_id": {
                    "type": "string",
                    "example": "12121212"
                  },
                  "customer_email": {
                    "type": "string",
                    "example": "yogesh.miglani@gmail.com"
                  },
                  "customer_phone": {
                    "type": "string",
                    "example": "9666699999"
                  }
                }
              },
              "error_details": {
                "type": "object",
                "description": "error details present in the webhook",
                "title": "PaymentWebhookErrorEntity",
                "properties": {
                  "error_code": {
                    "type": "string"
                  },
                  "error_description": {
                    "type": "string"
                  },
                  "error_reason": {
                    "type": "string"
                  },
                  "error_source": {
                    "type": "string"
                  },
                  "error_code_raw": {
                    "type": "string"
                  },
                  "error_description_raw": {
                    "type": "string"
                  }
                }
              },
              "payment_gateway_details": {
                "type": "object",
                "description": "payment gateway details present in the webhook response",
                "title": "PaymentWebhookGatewayDetailsEntity",
                "properties": {
                  "gateway_name": {
                    "type": "string"
                  },
                  "gateway_order_id": {
                    "type": "string"
                  },
                  "gateway_order_reference_id": {
                    "type": "string"
                  },
                  "gateway_payment_id": {
                    "type": "string"
                  },
                  "gateway_status_code": {
                    "type": "string"
                  },
                  "gateway_settlement": {
                    "type": "string"
                  },
                  "gateway_reference_name": {
                    "type": "string"
                  }
                }
              },
              "payment_offers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OfferEntity"
                }
              }
            }
          },
          "event_time": {
            "type": "string",
            "example": "2021-10-07T19:42:44+05:30"
          },
          "type": {
            "type": "string",
            "example": "PAYMENT_SUCCESS_WEBHOOK"
          }
        }
      },
      "RefundWebhook": {
        "title": "RefundWebhook",
        "description": "refund webhook object",
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "title": "RefundWebhookDataEntity",
            "description": "data entity in webhook",
            "properties": {
              "refund": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RefundEntity"
                  }
                ]
              }
            }
          },
          "event_time": {
            "type": "string",
            "example": "2021-10-07T19:42:44+05:30"
          },
          "type": {
            "type": "string",
            "example": "REFUND_SUCCESS_WEBHOOK"
          }
        }
      },
      "EntitySimulationRequest": {
        "title": "entity_simulation",
        "description": "Entity Simulation it contains payment_status and payment_error_code",
        "type": "object",
        "example": {
          "payment_status": "FAILED",
          "payment_error_code": "ISSUER_NOT_AVAILABLE"
        },
        "properties": {
          "payment_status": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "FAILED",
              "PENDING",
              "USER_DROPPED"
            ],
            "description": "Payment Status"
          },
          "payment_error_code": {
            "type": "string",
            "description": "Payment Error Code"
          }
        },
        "required": [
          "payment_status"
        ]
      },
      "EntitySimulationResponse": {
        "title": "entity_simulation",
        "description": "Entity Simulation it contains payment_status and payment_error_code",
        "type": "object",
        "example": {
          "payment_status": "FAILED",
          "payment_error_code": "ISSUER_NOT_AVAILABLE"
        },
        "properties": {
          "payment_status": {
            "type": "string",
            "description": "Payment Status"
          },
          "payment_error_code": {
            "type": "string",
            "description": "Payment Error Code"
          }
        },
        "required": [
          "payment_status"
        ]
      },
      "LinkCustomerDetailsEntity": {
        "title": "customer_details",
        "description": "Payment link customer entity",
        "type": "object",
        "example": {
          "customer_name": "John Doe",
          "customer_phone": "9999999999",
          "customer_email": "john@cashfree.com",
          "customer_bank_account_number": 11111111111,
          "customer_bank_ifsc": "SBIN0001882",
          "customer_bank_code": 7001
        },
        "properties": {
          "customer_phone": {
            "type": "string",
            "description": "Customer phone number"
          },
          "customer_email": {
            "type": "string",
            "description": "Customer email address"
          },
          "customer_name": {
            "type": "string",
            "description": "Customer name"
          },
          "customer_bank_account_number": {
            "type": "string",
            "description": "Customer Bank Account Number"
          },
          "customer_bank_ifsc": {
            "type": "string",
            "description": "Customer Bank Ifsc"
          },
          "customer_bank_code": {
            "type": "integer",
            "enum": [
              3003,
              3005,
              3006,
              3010,
              3012,
              3016,
              3019,
              3020,
              3021,
              3022,
              3023,
              3024,
              3026,
              3027,
              3028,
              3029,
              3030,
              3031,
              3032,
              3033,
              3038,
              3039,
              3040,
              3042,
              3044,
              3054,
              3055,
              3058,
              3086,
              3087,
              3088,
              3089,
              3090,
              3091,
              3092,
              3098,
              3115,
              3117,
              7001
            ],
            "description": "Customer Bank Code"
          }
        },
        "required": [
          "customer_phone"
        ]
      },
      "LinkEntity": {
        "title": "LinkEntity",
        "description": "Payment link success creation response object",
        "type": "object",
        "example": {
          "cf_link_id": "1996567",
          "link_id": "my_link_id",
          "link_status": "ACTIVE",
          "link_currency": "INR",
          "link_amount": 100,
          "link_amount_paid": 0,
          "link_partial_payments": true,
          "link_minimum_partial_amount": 20,
          "link_purpose": "Payment for PlayStation 11",
          "link_created_at": "2021-09-30T17:05:01+05:30",
          "customer_details": {
            "customer_name": "John Doe",
            "customer_phone": "9999999999",
            "customer_email": "john@example.com"
          },
          "link_meta": {
            "notify_url": "https://ee08e626ecd88c61c85f5c69c0418cb5.m.pipedream.net",
            "upi_intent": false,
            "return_url": "https://www.cashfree.com/devstudio/thankyou"
          },
          "link_url": "https://payments-test.cashfree.com/links/o1tf1nvcvjhg",
          "link_expiry_time": "2021-10-14T15:04:05+05:30",
          "link_notes": {
            "key_1": "value_1",
            "key_2": "value_2"
          },
          "link_auto_reminders": true,
          "link_qrcode": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUAAAAFAAQMAAAD3XjfpAAAABlBMVEX///8AAABVwtN+AAAC9ElEQVR4nOyaPY7jMAyFn6HCpY7go/hmkXIzH0VHUOlC8Fvw0c4kM4PFFltJJjDAQPnSEPx5JIPbbrvttv9rC82mPW7gvnDasT5ZkSZyS/ZR6xLMANaJFQLJuj5J5mkHHgaMDpJlNfeROzAZFE4/PgKZOwZfoWTggchsDrvBd7DNZeW/+LEHUDmzY7Wn1aNHORO335JrNPBVcVPYl+2Y6/pssSS9/F6aOwDdLq9smLkBsUCl9aeNB6riymMzNwujI9QlW11hw/Lmx47AJVNBY16Zi71Ydy1JFTXU4UEGlvWYSfsGgbghXOn2HkGdgcCymdJS9GCu66HXmVtqsQwOvoSo/tnswbovLZ6mFpnHBpccTLHaPGMq5QBWKznZOpN9PbUeQcCdUV1mmFfkHmqcI4nBweZt2Ifc031SbEifrbgnMClndg8aWknJ1l5cpLlgHRp0OaZ5xiY4qRQPI5Our3mmO7Cs3L37mhp1SaYBNtRP9wwJnsll84zWYTmwJO5qOCV1CdpoT9pQkkykWWuResdccY22A4NIZIGmF2i4qesRXLBbcpWvNtwTuDCc7SWf0tTay6LVZ3ovpKOClkYHbHrZsU575LOddfiBD2XfFdhMhJozgo31NsXBFem35BoSlPjY9LkJdswkWywJEmmfWdgPeMqt64akQtr0Gj8XgKOCvubxjehmfszXaD992wH0AyL5BGZ9xqIHkU+eihRX9xkX9C2fSzKVFJtXouSITitvS8AhwSzBLm2mM6RmGoDaJfMtHvsC1YavzbD344pXxR0eNG1m8jx5yVHFNT9GBU/uEnSzDMnNSq8KLaATG0L9OiyOCfoFUn5sM7fj2gy/ztLoEtS12f6yqshc8Qj13AKFd202KHheIF2bQWseFkxKrrp8/6VLV+Au8cFNqYJYkrXZZ4s/f98zJEiPFd3gU9PPdij1/rEO6whUzsxnmug24gez6DkzOPiquAg+ztEX57rK1+WX0twBeNttt932d/sTAAD//zUdVfZhwUvzAAAAAElFTkSuQmCC",
          "link_notify": {
            "send_sms": false,
            "send_email": true
          },
          "order_splits": [
            {
              "vendor_id": "Jane",
              "percentage": 10,
              "tags": {
                "address": "Hyderabad"
              }
            },
            {
              "vendor_id": "Barbie",
              "percentage": 50,
              "tags": {
                "address": "Bengaluru, India"
              }
            }
          ]
        },
        "properties": {
          "cf_link_id": {
            "type": "string"
          },
          "link_id": {
            "type": "string"
          },
          "link_status": {
            "type": "string"
          },
          "link_currency": {
            "type": "string"
          },
          "link_amount": {
            "type": "number"
          },
          "link_amount_paid": {
            "type": "number"
          },
          "link_partial_payments": {
            "type": "boolean"
          },
          "link_minimum_partial_amount": {
            "type": "number"
          },
          "link_purpose": {
            "type": "string"
          },
          "link_created_at": {
            "type": "string"
          },
          "customer_details": {
            "$ref": "#/components/schemas/LinkCustomerDetailsEntity"
          },
          "link_meta": {
            "$ref": "#/components/schemas/LinkMetaResponseEntity"
          },
          "link_url": {
            "type": "string"
          },
          "link_expiry_time": {
            "type": "string"
          },
          "link_notes": {
            "$ref": "#/components/schemas/LinkNotesEntity"
          },
          "link_auto_reminders": {
            "type": "boolean"
          },
          "link_notify": {
            "$ref": "#/components/schemas/LinkNotifyEntity"
          },
          "link_qrcode": {
            "type": "string",
            "description": "Base64 encoded string for payment link. You can scan with camera to open a link in the browser to complete the payment."
          },
          "order_splits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VendorSplit"
            }
          }
        }
      },
      "LinkMetaResponseEntity": {
        "title": "link_meta",
        "description": "Payment link meta information object",
        "type": "object",
        "example": {
          "notify_url": "https://ee08e626ecd88c61c85f5c69c0418cb5.m.pipedream.net",
          "upi_intent": "false",
          "return_url": "https://www.cashfree.com/devstudio/thankyou"
        },
        "properties": {
          "notify_url": {
            "type": "string",
            "description": "Notification URL for server-server communication. It should be an https URL."
          },
          "upi_intent": {
            "type": "string",
            "description": "If \"true\", link will directly open UPI Intent flow on mobile, and normal link flow elsewhere"
          },
          "return_url": {
            "type": "string",
            "description": "The URL to which user will be redirected to after the payment is done on the link. Maximum length: 250."
          },
          "payment_methods": {
            "type": "string",
[...]
