{
  "openapi": "3.1.0",
  "info": {
    "title": "Klavis AI (https://www.klavis.ai)",
    "description": "Klavis AI - Open Source MCP Integrations for AI Applications",
    "version": "0.1.0"
  },
  "servers": [
    { "url": "https://api.klavis.ai", "description": "Production server" }
  ],
  "paths": {
    "/mcp-server/call-tool": {
      "post": {
        "tags": ["mcp-server"],
        "summary": "Call Tool",
        "description": "Calls a tool on a specific remote MCP server, used for function calling. Eliminates the need for manual MCP code implementation.\nUnder the hood, Klavis will instantiates an MCP client and establishes a connection with the remote MCP server to call the tool.",
        "operationId": "callServerTool",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CallToolRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CallToolResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "HTTPBearer": [] }]
      }
    },
    "/mcp-server/list-tools": {
      "post": {
        "tags": ["mcp-server"],
        "summary": "List Tools",
        "description": "Lists all tools available for a specific remote MCP server in various AI model formats.\n\nThis eliminates the need for manual MCP code implementation and format conversion.\nUnder the hood, Klavis instantiates an MCP client and establishes a connection \nwith the remote MCP server to retrieve available tools.",
        "operationId": "listServerTools",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ListToolsRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListToolsResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "HTTPBearer": [] }]
      }
    },
    "/mcp-server/instance/create": {
      "post": {
        "tags": ["mcp-server"],
        "summary": "Create a Server Instance",
        "description": "Creates a URL for a specified MCP server,\nvalidating the request with an API key and user details.\nReturns the existing server URL if it already exists for the user.\nIf OAuth is configured for the server, also returns the base OAuth authorization URL.",
        "operationId": "createServerInstance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateServerRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateServerResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "HTTPBearer": [] }]
      }
    },
    "/mcp-server/instance/get/{instance_id}": {
      "get": {
        "tags": ["mcp-server"],
        "summary": "Get Server Instance",
        "description": "Checks the details of a specific server connection instance using its unique ID and API key,\nreturning server details like authentication status and associated server/platform info.",
        "operationId": "getServerInstance",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the connection instance whose status is being checked. This is returned by the Create API.",
              "title": "Instance Id"
            },
            "description": "The ID of the connection instance whose status is being checked. This is returned by the Create API."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetInstanceResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/mcp-server/instance/delete-auth/{instance_id}": {
      "delete": {
        "tags": ["mcp-server"],
        "summary": "Delete Auth data for a Server Instance",
        "description": "Deletes authentication metadata for a specific server connection instance.",
        "operationId": "deleteInstanceAuth",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the connection instance to delete auth for.",
              "title": "Instance Id"
            },
            "description": "The ID of the connection instance to delete auth for."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StatusResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/mcp-server/instance/delete/{instance_id}": {
      "delete": {
        "tags": ["mcp-server"],
        "summary": "Delete a Server Instance",
        "description": "Completely removes a server connection instance using its unique ID,\ndeleting all associated data from the system.",
        "operationId": "deleteServerInstance",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the connection instance to delete.",
              "title": "Instance Id"
            },
            "description": "The ID of the connection instance to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StatusResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/mcp-server/tools/{server_name}": {
      "get": {
        "tags": ["mcp-server"],
        "summary": "Get Tools",
        "description": "Get list of tool names for a specific MCP server.\nMainly used for querying metadata about the MCP server.",
        "operationId": "getServerTools",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "server_name",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/McpServerName",
              "description": "The name of the target MCP server."
            },
            "description": "The name of the target MCP server."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetToolsResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/mcp-server/servers": {
      "get": {
        "tags": ["mcp-server"],
        "summary": "Get All Servers",
        "description": "Get all MCP servers with their basic information including id, name, description, and tools.",
        "operationId": "getAllMcpServers",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMcpServersResponse"
                }
              }
            }
          }
        },
        "security": [{ "HTTPBearer": [] }]
      }
    },
    "/mcp-server/instance/set-auth-token": {
      "post": {
        "tags": ["mcp-server"],
        "summary": "Set Auth Token",
        "description": "Sets an authentication token for a specific instance.\nThis updates the auth_metadata for the specified instance.",
        "operationId": "setInstanceAuthToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SetAuthTokenRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StatusResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "HTTPBearer": [] }]
      }
    },
    "/mcp-server/oauth-url": {
      "post": {
        "tags": ["mcp-server"],
        "summary": "Get OAuth URL",
        "description": "Gets the OAuth authorization URL for a specific MCP server and instance.\nReturns the complete OAuth URL with the instance ID as a query parameter.",
        "operationId": "getOAuthUrl",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GetOAuthUrlRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetOAuthUrlResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "HTTPBearer": [] }]
      }
    },
    "/white-labeling/create": {
      "post": {
        "tags": ["white-labeling"],
        "summary": "Create",
        "description": "Saves OAuth white labeling information, or updates existing information if the `client_id` matches.",
        "operationId": "createWhiteLabeling",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWhiteLabelingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhiteLabelingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "HTTPBearer": [] }]
      }
    },
    "/white-labeling/get/{client_id}": {
      "get": {
        "tags": ["white-labeling"],
        "summary": "Get",
        "description": "Retrieves white labeling information for a specific OAuth client ID.",
        "operationId": "getWhiteLabelingByClientId",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Client Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhiteLabelingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/user/instances": {
      "get": {
        "tags": ["user"],
        "summary": "Get user instances",
        "description": "Get all MCP server instances information by user ID and platform name.",
        "operationId": "getServerInstancesByUser",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The external user ID",
              "title": "User Id"
            },
            "description": "The external user ID"
          },
          {
            "name": "platform_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The platform name",
              "title": "Platform Name"
            },
            "description": "The platform name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServerInstancesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/slack/authorize": {
      "get": {
        "tags": ["slack-oauth"],
        "summary": "Authorize Slack",
        "description": "Start Slack OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- user_scope: Optional user-specific scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeSlack",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "user_scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional user-specific OAuth scopes to request (comma-separated string)",
              "title": "User Scope"
            },
            "description": "Optional user-specific OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/slack/callback": {
      "get": {
        "tags": ["slack-oauth"],
        "summary": "Slack Callback",
        "description": "Handles the callback from Slack OAuth authorization.",
        "operationId": "slackOAuthCallback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Authorization code returned by Slack",
              "title": "Code"
            },
            "description": "Authorization code returned by Slack"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "State parameter containing encoded authorization data",
              "title": "State"
            },
            "description": "State parameter containing encoded authorization data"
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Error code returned by Slack, if any",
              "title": "Error"
            },
            "description": "Error code returned by Slack, if any"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/github/authorize": {
      "get": {
        "tags": ["github-oauth"],
        "summary": "Authorize Github",
        "description": "Start GitHub OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeGithub",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/github/callback": {
      "get": {
        "tags": ["github-oauth"],
        "summary": "Github Callback",
        "description": "Handles the callback from GitHub OAuth authorization.",
        "operationId": "githubOAuthCallback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Authorization code returned by GitHub",
              "title": "Code"
            },
            "description": "Authorization code returned by GitHub"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "State parameter containing encoded authorization data",
              "title": "State"
            },
            "description": "State parameter containing encoded authorization data"
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Error code returned by GitHub, if any",
              "title": "Error"
            },
            "description": "Error code returned by GitHub, if any"
          },
          {
            "name": "error_description",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Detailed error description from GitHub, if any",
              "title": "Error Description"
            },
            "description": "Detailed error description from GitHub, if any"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitHubOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/supabase/authorize": {
      "get": {
        "tags": ["supabase-oauth"],
        "summary": "Authorize Supabase",
        "description": "Start Supabase OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeSupabase",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/supabase/callback": {
      "get": {
        "tags": ["supabase-oauth"],
        "summary": "Supabase Callback",
        "description": "Handles the callback from Supabase OAuth authorization.",
        "operationId": "supabaseOAuthCallback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Authorization code returned by Supabase",
              "title": "Code"
            },
            "description": "Authorization code returned by Supabase"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "State parameter containing encoded authorization data",
              "title": "State"
            },
            "description": "State parameter containing encoded authorization data"
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Error code returned by Supabase, if any",
              "title": "Error"
            },
            "description": "Error code returned by Supabase, if any"
          },
          {
            "name": "error_description",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Detailed error description from Supabase, if any",
              "title": "Error Description"
            },
            "description": "Detailed error description from Supabase, if any"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupabaseOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupabaseOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/supabase/refresh_token": {
      "post": {
        "tags": ["supabase-oauth"],
        "summary": "Refresh Supabase Token",
        "description": "Refresh an expired Supabase access token using the stored refresh token\n\nParameters:\n- instance_id: Identifier for the instance requesting token refresh\n\nReturns:\n- Success response if token was refreshed successfully, error response otherwise",
        "operationId": "refresh_supabase_token_oauth_supabase_refresh_token_post",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting token refresh",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting token refresh"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupabaseOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupabaseOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/notion/authorize": {
      "get": {
        "tags": ["notion-oauth"],
        "summary": "Authorize Notion",
        "description": "Start Notion OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeNotion",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/notion/callback": {
      "get": {
        "tags": ["notion-oauth"],
        "summary": "Notion Callback",
        "description": "Handles the callback from Notion OAuth authorization.",
        "operationId": "notionOAuthCallback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Authorization code returned by Notion",
              "title": "Code"
            },
            "description": "Authorization code returned by Notion"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "State parameter containing encoded authorization data",
              "title": "State"
            },
            "description": "State parameter containing encoded authorization data"
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Error code returned by Notion, if any",
              "title": "Error"
            },
            "description": "Error code returned by Notion, if any"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotionOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotionOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/jira/authorize": {
      "get": {
        "tags": ["jira-oauth"],
        "summary": "Authorize Jira",
        "description": "Start Jira OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeJira",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/jira/callback": {
      "get": {
        "tags": ["jira-oauth"],
        "summary": "Jira Callback",
        "description": "Handles the callback from Jira OAuth authorization.",
        "operationId": "jiraOAuthCallback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Authorization code returned by Jira",
              "title": "Code"
            },
            "description": "Authorization code returned by Jira"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "State parameter containing encoded authorization data",
              "title": "State"
            },
            "description": "State parameter containing encoded authorization data"
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Error code returned by Jira, if any",
              "title": "Error"
            },
            "description": "Error code returned by Jira, if any"
          },
          {
            "name": "error_description",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Detailed error description from Jira, if any",
              "title": "Error Description"
            },
            "description": "Detailed error description from Jira, if any"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JiraOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JiraOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/jira/refresh_token": {
      "post": {
        "tags": ["jira-oauth"],
        "summary": "Refresh Jira Token",
        "description": "Refresh an expired Jira access token using the stored refresh token\n\nParameters:\n- instance_id: Identifier for the instance requesting token refresh\n\nReturns:\n- Success response if token was refreshed successfully, error response otherwise",
        "operationId": "refresh_jira_token_oauth_jira_refresh_token_post",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting token refresh",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting token refresh"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JiraOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JiraOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/confluence/authorize": {
      "get": {
        "tags": ["confluence-oauth"],
        "summary": "Authorize Confluence",
        "description": "Start Confluence OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeConfluence",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/confluence/callback": {
      "get": {
        "tags": ["confluence-oauth"],
        "summary": "Confluence Callback",
        "description": "Handles the callback from Confluence OAuth authorization.",
        "operationId": "confluenceOAuthCallback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Authorization code returned by Confluence",
              "title": "Code"
            },
            "description": "Authorization code returned by Confluence"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "State parameter containing encoded authorization data",
              "title": "State"
            },
            "description": "State parameter containing encoded authorization data"
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Error code returned by Confluence, if any",
              "title": "Error"
            },
            "description": "Error code returned by Confluence, if any"
          },
          {
            "name": "error_description",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Detailed error description from Confluence, if any",
              "title": "Error Description"
            },
            "description": "Detailed error description from Confluence, if any"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfluenceOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfluenceOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/confluence/refresh_token": {
      "post": {
        "tags": ["confluence-oauth"],
        "summary": "Refresh Confluence Token",
        "description": "Refresh an expired Confluence access token using the stored refresh token\n\nParameters:\n- instance_id: Identifier for the instance requesting token refresh\n\nReturns:\n- Success response if token was refreshed successfully, error response otherwise",
        "operationId": "refresh_confluence_token_oauth_confluence_refresh_token_post",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting token refresh",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting token refresh"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfluenceOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfluenceOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/wordpress/authorize": {
      "get": {
        "tags": ["wordpress-oauth"],
        "summary": "Authorize Wordpress",
        "description": "Start WordPress OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeWordpress",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/wordpress/callback": {
      "get": {
        "tags": ["wordpress-oauth"],
        "summary": "Wordpress Callback",
        "description": "Handles the callback from WordPress OAuth authorization.",
        "operationId": "wordpressOAuthCallback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Authorization code returned by WordPress",
              "title": "Code"
            },
            "description": "Authorization code returned by WordPress"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "State parameter containing encoded authorization data",
              "title": "State"
            },
            "description": "State parameter containing encoded authorization data"
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Error code returned by WordPress, if any",
              "title": "Error"
            },
            "description": "Error code returned by WordPress, if any"
          },
          {
            "name": "error_description",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Detailed error description from WordPress, if any",
              "title": "Error Description"
            },
            "description": "Detailed error description from WordPress, if any"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WordPressOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WordPressOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/gmail/authorize": {
      "get": {
        "tags": ["gmail-oauth"],
        "summary": "Authorize Gmail",
        "description": "Start Gmail OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeGmail",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/gmail/callback": {
      "get": {
        "tags": ["gmail-oauth"],
        "summary": "Gmail Callback",
        "description": "Handles the callback from Gmail OAuth authorization.",
        "operationId": "gmailOAuthCallback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Authorization code returned by Gmail",
              "title": "Code"
            },
            "description": "Authorization code returned by Gmail"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "State parameter containing encoded authorization data",
              "title": "State"
            },
            "description": "State parameter containing encoded authorization data"
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Error code returned by Gmail, if any",
              "title": "Error"
            },
            "description": "Error code returned by Gmail, if any"
          },
          {
            "name": "error_description",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Detailed error description from Gmail, if any",
              "title": "Error Description"
            },
            "description": "Detailed error description from Gmail, if any"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/gmail/refresh_token": {
      "post": {
        "tags": ["gmail-oauth"],
        "summary": "Refresh Gmail Token",
        "description": "Refresh an expired Gmail access token using the stored refresh token\n\nParameters:\n- instance_id: Identifier for the instance requesting token refresh\n\nReturns:\n- Success response if token was refreshed successfully, error response otherwise",
        "operationId": "refresh_gmail_token_oauth_gmail_refresh_token_post",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting token refresh",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting token refresh"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GmailOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/gdrive/authorize": {
      "get": {
        "tags": ["gdrive-oauth"],
        "summary": "Authorize Gdrive",
        "description": "Start Google Drive OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeGDrive",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/gdrive/callback": {
      "get": {
        "tags": ["gdrive-oauth"],
        "summary": "Gdrive Callback",
        "description": "Handles the callback from Google Drive OAuth authorization.",
        "operationId": "gdriveOAuthCallback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Authorization code returned by Google Drive",
              "title": "Code"
            },
            "description": "Authorization code returned by Google Drive"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "State parameter containing encoded authorization data",
              "title": "State"
            },
            "description": "State parameter containing encoded authorization data"
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Error code returned by Google Drive, if any",
              "title": "Error"
            },
            "description": "Error code returned by Google Drive, if any"
          },
          {
            "name": "error_description",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Detailed error description from Google Drive, if any",
              "title": "Error Description"
            },
            "description": "Detailed error description from Google Drive, if any"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GDriveOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GDriveOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/gdrive/refresh_token": {
      "post": {
        "tags": ["gdrive-oauth"],
        "summary": "Refresh Gdrive Token",
        "description": "Refresh an expired Google Drive access token using the stored refresh token\n\nParameters:\n- instance_id: Identifier for the instance requesting token refresh\n\nReturns:\n- Success response if token was refreshed successfully, error response otherwise",
        "operationId": "refresh_gdrive_token_oauth_gdrive_refresh_token_post",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting token refresh",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting token refresh"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GDriveOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GDriveOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/gdrive/picker": {
      "get": {
        "tags": ["gdrive-oauth"],
        "summary": "Gdrive Picker Page",
        "description": "Serve the Google Drive picker page with the appropriate credentials",
        "operationId": "gdrivePickerPage",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Client ID to use for the picker",
              "title": "Client Id"
            },
            "description": "Client ID to use for the picker"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "API key to use for the picker",
              "title": "Api Key"
            },
            "description": "API key to use for the picker"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "OAuth scopes for the picker",
              "title": "Scope"
            },
            "description": "OAuth scopes for the picker"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/gcalendar/authorize": {
      "get": {
        "tags": ["gcalendar-oauth"],
        "summary": "Authorize Gcalendar",
        "description": "Start Google Calendar OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeGCalendar",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/gcalendar/callback": {
      "get": {
        "tags": ["gcalendar-oauth"],
        "summary": "Gcalendar Callback",
        "description": "Handles the callback from Google Calendar OAuth authorization.",
        "operationId": "gcalendarOAuthCallback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Authorization code returned by Google Calendar",
              "title": "Code"
            },
            "description": "Authorization code returned by Google Calendar"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "State parameter containing encoded authorization data",
              "title": "State"
            },
            "description": "State parameter containing encoded authorization data"
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Error code returned by Google Calendar, if any",
              "title": "Error"
            },
            "description": "Error code returned by Google Calendar, if any"
          },
          {
            "name": "error_description",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Detailed error description from Google Calendar, if any",
              "title": "Error Description"
            },
            "description": "Detailed error description from Google Calendar, if any"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GCalendarOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GCalendarOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/gcalendar/refresh_token": {
      "post": {
        "tags": ["gcalendar-oauth"],
        "summary": "Refresh Gcalendar Token",
        "description": "Refresh an expired Google Calendar access token using the stored refresh token\n\nParameters:\n- instance_id: Identifier for the instance requesting token refresh\n\nReturns:\n- Success response if token was refreshed successfully, error response otherwise",
        "operationId": "refresh_gcalendar_token_oauth_gcalendar_refresh_token_post",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting token refresh",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting token refresh"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GCalendarOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GCalendarOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/gsheets/authorize": {
      "get": {
        "tags": ["gsheets-oauth"],
        "summary": "Authorize Gsheets",
        "description": "Start Google Sheets OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeGSheets",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/gsheets/callback": {
      "get": {
        "tags": ["gsheets-oauth"],
        "summary": "Gsheets Callback",
        "description": "Handles the callback from Google Sheets OAuth authorization.",
        "operationId": "gsheetsOAuthCallback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Authorization code returned by Google Sheets",
              "title": "Code"
            },
            "description": "Authorization code returned by Google Sheets"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "State parameter containing encoded authorization data",
              "title": "State"
            },
            "description": "State parameter containing encoded authorization data"
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Error code returned by Google Sheets, if any",
              "title": "Error"
            },
            "description": "Error code returned by Google Sheets, if any"
          },
          {
            "name": "error_description",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Detailed error description from Google Sheets, if any",
              "title": "Error Description"
            },
            "description": "Detailed error description from Google Sheets, if any"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GSheetsOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GSheetsOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/gsheets/refresh_token": {
      "post": {
        "tags": ["gsheets-oauth"],
        "summary": "Refresh Gsheets Token",
        "description": "Refresh an expired Google Sheets access token using the stored refresh token\n\nParameters:\n- instance_id: Identifier for the instance requesting token refresh\n\nReturns:\n- Success response if token was refreshed successfully, error response otherwise",
        "operationId": "refresh_gsheets_token_oauth_gsheets_refresh_token_post",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting token refresh",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting token refresh"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GSheetsOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GSheetsOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/gdocs/authorize": {
      "get": {
        "tags": ["gdocs-oauth"],
        "summary": "Authorize Gdocs",
        "description": "Start Google Docs OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeGDocs",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/gdocs/callback": {
      "get": {
        "tags": ["gdocs-oauth"],
        "summary": "Gdocs Callback",
        "description": "Handles the callback from Google Docs OAuth authorization.",
        "operationId": "gdocsOAuthCallback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Authorization code returned by Google Docs",
              "title": "Code"
            },
            "description": "Authorization code returned by Google Docs"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "State parameter containing encoded authorization data",
              "title": "State"
            },
            "description": "State parameter containing encoded authorization data"
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Error code returned by Google Docs, if any",
              "title": "Error"
            },
            "description": "Error code returned by Google Docs, if any"
          },
          {
            "name": "error_description",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Detailed error description from Google Docs, if any",
              "title": "Error Description"
            },
            "description": "Detailed error description from Google Docs, if any"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GDocsOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GDocsOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/gdocs/refresh_token": {
      "post": {
        "tags": ["gdocs-oauth"],
        "summary": "Refresh Gdocs Token",
        "description": "Refresh an expired Google Docs access token using the stored refresh token\n\nParameters:\n- instance_id: Identifier for the instance requesting token refresh\n\nReturns:\n- Success response if token was refreshed successfully, error response otherwise",
        "operationId": "refresh_gdocs_token_oauth_gdocs_refresh_token_post",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting token refresh",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting token refresh"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GDocsOAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GDocsOAuthErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/oauth/attio/authorize": {
      "get": {
        "tags": ["attio-oauth"],
        "summary": "Authorize Attio",
        "description": "Start Attio OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeAttio",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
[...]
