{
  "openapi": "3.1.0",
  "info": {
    "title": "Klavis AI (https://www.klavis.ai)",
    "description": "Klavis AI - Open Source MCP Integrations for AI Applications",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.klavis.ai",
      "description": "Production server"
    }
  ],
  "paths": {
    "/mcp-server/call-tool": {
      "post": {
        "tags": [
          "mcp-server"
        ],
        "summary": "Call Tool",
        "description": "Calls a tool on a specific remote MCP server, used for function calling. Eliminates the need for manual MCP code implementation.\nUnder the hood, Klavis will instantiates an MCP client and establishes a connection with the remote MCP server to call the tool.",
        "operationId": "callServerTool",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallToolRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallToolResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/mcp-server/list-tools": {
      "post": {
        "tags": [
          "mcp-server"
        ],
        "summary": "List Tools",
        "description": "Lists all tools available for a specific remote MCP server in various AI model formats.\n\nThis eliminates the need for manual MCP code implementation and format conversion.\nUnder the hood, Klavis instantiates an MCP client and establishes a connection \nwith the remote MCP server to retrieve available tools.",
        "operationId": "listServerTools",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListToolsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListToolsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/mcp-server/strata/create": {
      "post": {
        "tags": [
          "mcp-server"
        ],
        "summary": "Create",
        "description": "Create a Strata MCP server.\n\nParameters:\n- servers: Can be 'ALL' to add all available Klavis integration, a list of specific server names, or null to add no servers\n- externalServers: Optional list of external MCP servers to validate and add",
        "operationId": "create_strata_server_mcp_server_strata_create_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StrataCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StrataCreateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/mcp-server/strata/add": {
      "post": {
        "tags": [
          "mcp-server"
        ],
        "summary": "Add",
        "description": "Add servers to an existing Strata MCP server.\n\nNote: After adding servers, you need to reconnect the MCP server so that list_tool can be updated with the new servers.\n\nParameters:\n- servers: Can be 'ALL' to add all available servers, a list of specific server names, or null to add no servers\n- externalServers: Optional list of external MCP servers to validate and add",
        "operationId": "add_servers_to_strata_mcp_server_strata_add_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StrataAddServersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StrataAddServersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/mcp-server/strata/{strataId}/servers": {
      "delete": {
        "tags": [
          "mcp-server"
        ],
        "summary": "Delete",
        "description": "Delete servers from an existing Strata MCP server.\n\nNote: After deleting servers, you need to reconnect the MCP server so that list_tool can be updated to reflect the removed servers.\n\nParameters:\n- strataId: The strata server ID (path parameter)\n- servers: Can be 'ALL' to delete all available Klavis integration, a list of specific server names, or null to delete no servers\n- externalServers: Query parameter - comma-separated list of external server names to delete\n\nReturns separate lists for deleted Klavis servers and deleted external servers.",
        "operationId": "delete_servers_from_strata_mcp_server_strata__strataId__servers_delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "strataId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Strataid"
            }
          },
          {
            "name": "servers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/McpServerName"
                      },
                      {
                        "const": "ALL",
                        "type": "string"
                      }
                    ]
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "List of Klavis integration to delete (e.g., 'jira', 'linear'), 'ALL' to delete all Klavis integration, or null to delete no servers.",
              "title": "Servers"
            },
            "description": "List of Klavis integration to delete (e.g., 'jira', 'linear'), 'ALL' to delete all Klavis integration, or null to delete no servers."
          },
          {
            "name": "externalServers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated list of external server names to delete",
              "title": "Externalservers"
            },
            "description": "Comma-separated list of external server names to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StrataDeleteServersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/mcp-server/strata/{strataId}": {
      "get": {
        "tags": [
          "mcp-server"
        ],
        "summary": "Get",
        "description": "Get information about an existing Strata MCP server instance.\n\nReturns the strata URL, connected klavis servers, connected external servers (with URLs), \nand authentication URLs for klavis servers.",
        "operationId": "get_strata_server_mcp_server_strata__strataId__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "strataId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Strataid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StrataGetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/mcp-server/strata/set-auth": {
      "post": {
        "tags": [
          "mcp-server"
        ],
        "summary": "Set Strata Auth",
        "description": "Sets authentication data for a specific integration within a Strata MCP server.\n\nAccepts either API key authentication or general authentication data.",
        "operationId": "set_strata_auth_mcp_server_strata_set_auth_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StrataSetAuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/mcp-server/instance/create": {
      "post": {
        "tags": [
          "mcp-server"
        ],
        "summary": "Create Server Instance",
        "description": "Creates a URL for a specified MCP server,\nvalidating the request with an API key and user details.\nReturns the existing server URL if it already exists for the user.\nIf OAuth is configured for the server, also returns the base OAuth authorization URL.",
        "operationId": "createServerInstance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateServerResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/mcp-server/self-hosted/instance/create": {
      "post": {
        "tags": [
          "mcp-server"
        ],
        "summary": "Create",
        "description": "Creates an instance id for a self-hosted MCP server,\nvalidating the request with an API key and user details.\nThe main purpose of this endpoint is to create an instance id for a self-hosted MCP server.\nThe instance id is used to identify and store the auth metadata in the database.\nReturns the existing instance id if it already exists for the user.",
        "operationId": "createSelfHostedServerInstance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSelfHostedServerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSelfHostedServerResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/mcp-server/instance/get/{instance_id}": {
      "get": {
        "tags": [
          "mcp-server"
        ],
        "summary": "Get Server Instance",
        "description": "Checks the details of a specific server connection instance using its unique ID and API key,\nreturning server details like authentication status and associated server/platform info.",
        "operationId": "getServerInstance",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the connection instance whose status is being checked. This is returned by the Create API.",
              "title": "Instance Id"
            },
            "description": "The ID of the connection instance whose status is being checked. This is returned by the Create API."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInstanceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/mcp-server/instance/delete-auth/{instance_id}": {
      "delete": {
        "tags": [
          "mcp-server"
        ],
        "summary": "Delete",
        "description": "Deletes authentication data for a specific server connection instance.",
        "operationId": "deleteInstanceAuth",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the connection instance to delete auth for.",
              "title": "Instance Id"
            },
            "description": "The ID of the connection instance to delete auth for."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/mcp-server/instance/delete/{instance_id}": {
      "delete": {
        "tags": [
          "mcp-server"
        ],
        "summary": "Delete Server Instance",
        "description": "Completely removes a server connection instance using its unique ID,\ndeleting all associated data from the system.",
        "operationId": "deleteServerInstance",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the connection instance to delete.",
              "title": "Instance Id"
            },
            "description": "The ID of the connection instance to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/mcp-server/tools/{server_name}": {
      "get": {
        "tags": [
          "mcp-server"
        ],
        "summary": "Get Tools",
        "description": "Get tools information for any MCP server.",
        "operationId": "getServerTools",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "server_name",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/McpServerName",
              "description": "The name of the target MCP server. Case-insensitive (e.g., 'google calendar', 'GOOGLE_CALENDAR', 'Google Calendar' are all valid)."
            },
            "description": "The name of the target MCP server. Case-insensitive (e.g., 'google calendar', 'GOOGLE_CALENDAR', 'Google Calendar' are all valid)."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ToolFormat",
              "description": "The format to return tools in. Default is MCP Native format for maximum compatibility.",
              "default": "mcp_native"
            },
            "description": "The format to return tools in. Default is MCP Native format for maximum compatibility."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListToolsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/mcp-server/servers": {
      "get": {
        "tags": [
          "mcp-server"
        ],
        "summary": "Get All Servers",
        "description": "Get all MCP servers with their basic information including id, name, and description.",
        "operationId": "getAllMcpServers",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMcpServersResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/mcp-server/instance/set-auth": {
      "post": {
        "tags": [
          "mcp-server"
        ],
        "summary": "Set Instance Auth",
        "description": "Sets authentication data for a specific instance.\nAccepts either API key authentication or general authentication data.\nThis updates the auth_metadata for the specified instance.",
        "operationId": "setInstanceAuth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetAuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/mcp-server/instance/get-auth/{instance_id}": {
      "get": {
        "tags": [
          "mcp-server"
        ],
        "summary": "Get Instance Auth",
        "description": "Retrieves the auth data for a specific instance that the API key owner controls.\nIncludes access token, refresh token, and other authentication data.\n\nThis endpoint includes proper ownership verification to ensure users can only access\nauthentication data for instances they own. It also handles token refresh if needed.",
        "operationId": "getInstanceAuthData",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the connection instance to get auth data for.",
              "title": "Instance Id"
            },
            "description": "The ID of the connection instance to get auth data for."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAuthDataResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/white-labeling/create": {
      "post": {
        "tags": [
          "white-labeling"
        ],
        "summary": "Create White Label",
        "description": "Saves OAuth white labeling information, or updates existing information if the `client_id` matches.",
        "operationId": "createWhiteLabeling",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWhiteLabelingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhiteLabelingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/white-labeling/get/{client_id}": {
      "get": {
        "tags": [
          "white-labeling"
        ],
        "summary": "Get White Label",
        "description": "Retrieves white labeling information for a specific OAuth client ID.",
        "operationId": "getWhiteLabelingByClientId",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Client Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhiteLabelingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/user/instances": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Get User Instances",
        "description": "Get all MCP server instances information by user ID and platform name.",
        "operationId": "getServerInstancesByUser",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The external user ID",
              "title": "User Id"
            },
            "description": "The external user ID"
          },
          {
            "name": "platform_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The platform name (optional)",
              "title": "Platform Name"
            },
            "description": "The platform name (optional)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServerInstancesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/user/delete/{user_id}": {
      "delete": {
        "tags": [
          "user"
        ],
        "summary": "Delete User",
        "description": "Delete a user and all associated data by user_id.\nUsers cannot delete their own accounts.\nThis operation will permanently remove all user data.",
        "operationId": "deleteUserByUserId",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The identifier for the user to delete.",
              "title": "User Id"
            },
            "description": "The identifier for the user to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteUserResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/slack/authorize": {
      "get": {
        "tags": [
          "slack-oauth"
        ],
        "summary": "Authorize Slack",
        "description": "Start Slack OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- user_scope: Optional user-specific scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeSlack",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "user_scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional user-specific OAuth scopes to request (comma-separated string)",
              "title": "User Scope"
            },
            "description": "Optional user-specific OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/github/authorize": {
      "get": {
        "tags": [
          "github-oauth"
        ],
        "summary": "Authorize Github",
        "description": "Start GitHub OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeGithub",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/gitlab/authorize": {
      "get": {
        "tags": [
          "gitlab-oauth"
        ],
        "summary": "Authorize Gitlab",
        "description": "Start GitLab OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (space-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeGitlab",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (space-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (space-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/supabase/authorize": {
      "get": {
        "tags": [
          "supabase-oauth"
        ],
        "summary": "Authorize Supabase",
        "description": "Start Supabase OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeSupabase",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/notion/authorize": {
      "get": {
        "tags": [
          "notion-oauth"
        ],
        "summary": "Authorize Notion",
        "description": "Start Notion OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeNotion",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/jira/authorize": {
      "get": {
        "tags": [
          "jira-oauth"
        ],
        "summary": "Authorize Jira",
        "description": "Start Jira OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeJira",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/confluence/authorize": {
      "get": {
        "tags": [
          "confluence-oauth"
        ],
        "summary": "Authorize Confluence",
        "description": "Start Confluence OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeConfluence",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/wordpress/authorize": {
      "get": {
        "tags": [
          "wordpress-oauth"
        ],
        "summary": "Authorize Wordpress",
        "description": "Start WordPress OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeWordpress",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/gmail/authorize": {
      "get": {
        "tags": [
          "gmail-oauth"
        ],
        "summary": "Authorize Gmail",
        "description": "Start Gmail OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeGmail",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/gdrive/authorize": {
      "get": {
        "tags": [
          "gdrive-oauth"
        ],
        "summary": "Authorize Gdrive",
        "description": "Start Google Drive OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeGDrive",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/gcalendar/authorize": {
      "get": {
        "tags": [
          "gcalendar-oauth"
        ],
        "summary": "Authorize Gcalendar",
        "description": "Start Google Calendar OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeGCalendar",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/gsheets/authorize": {
      "get": {
        "tags": [
          "gsheets-oauth"
        ],
        "summary": "Authorize Gsheets",
        "description": "Start Google Sheets OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeGSheets",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/gdocs/authorize": {
      "get": {
        "tags": [
          "gdocs-oauth"
        ],
        "summary": "Authorize Gdocs",
        "description": "Start Google Docs OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeGDocs",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/attio/authorize": {
      "get": {
        "tags": [
          "attio-oauth"
        ],
        "summary": "Authorize Attio",
        "description": "Start Attio OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeAttio",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/salesforce/authorize": {
      "get": {
        "tags": [
          "salesforce-oauth"
        ],
        "summary": "Authorize Salesforce",
        "description": "Start Salesforce OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (space-separated)\n- redirect_url: Optional URL to redirect to after authorization completes\n- instance_url: Optional Salesforce instance URL for sandbox or custom domains",
        "operationId": "authorizeSalesforce",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (space-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (space-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          },
          {
            "name": "instance_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Salesforce instance URL (e.g., https://mycompany.salesforce.com). If not provided, will use default login.salesforce.com",
              "title": "Instance Url"
            },
            "description": "Salesforce instance URL (e.g., https://mycompany.salesforce.com). If not provided, will use default login.salesforce.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/asana/authorize": {
      "get": {
        "tags": [
          "asana-oauth"
        ],
        "summary": "Authorize Asana",
        "description": "Start Asana OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeAsana",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/linear/authorize": {
      "get": {
        "tags": [
          "linear-oauth"
        ],
        "summary": "Authorize Linear",
        "description": "Start Linear OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeLinear",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/close/authorize": {
      "get": {
        "tags": [
          "close-oauth"
        ],
        "summary": "Authorize Close",
        "description": "Start Close OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeClose",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/clickup/authorize": {
      "get": {
        "tags": [
          "clickup-oauth"
        ],
        "summary": "Authorize Clickup",
        "description": "Start ClickUp OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeClickUp",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/airtable/authorize": {
      "get": {
        "tags": [
          "airtable-oauth"
        ],
        "summary": "Authorize Airtable",
        "description": "Start Airtable OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (space-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeAirtable",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/hubspot/authorize": {
      "get": {
        "tags": [
          "hubspot-oauth"
        ],
        "summary": "Authorize Hubspot",
        "description": "Start HubSpot OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (space-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeHubspot",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (space-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (space-separated string)"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional URL to redirect to after authorization completes",
              "title": "Redirect Url"
            },
            "description": "Optional URL to redirect to after authorization completes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/linkedin/authorize": {
      "get": {
        "tags": [
          "linkedin-oauth"
        ],
        "summary": "Authorize Linkedin",
        "description": "Start LinkedIn OAuth flow\n\nParameters:\n- instance_id: Identifier for the instance requesting authorization\n- client_id: Optional client ID for white labeling\n- scope: Optional scopes to request (comma-separated)\n- redirect_url: Optional URL to redirect to after authorization completes",
        "operationId": "authorizeLinkedIn",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the client instance requesting authorization",
              "title": "Instance Id"
            },
            "description": "Unique identifier for the client instance requesting authorization"
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Client ID for white labeling, if not provided will use default credentials",
              "title": "Client Id"
            },
            "description": "Client ID for white labeling, if not provided will use default credentials"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional OAuth scopes to request (comma-separated string)",
              "title": "Scope"
            },
            "description": "Optional OAuth scopes to request (comma-separated string)"
          },
          {
[...]
